	<!-- /.page_content -->

  <!-- <app-header-user></app-header-user> -->
	<section class="container-fluid friends_page page_content user_module">
      <div class="row">
        <div class="module_wrap">				
          <div class="left_body">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content_wrap">
              <div class="row">
  
                <app-user-header></app-user-header>
               
  
                <div class="col-xs-12 page_header">
                      <div class="container">
                      <div class="row">
                        <div class="table_div">
                          <div class="tbl_cell left-sec">
                            <h2>My Trophies</h2>
                            <p>Creatively crafted Dashboard for your needs</p>
                          </div>
                        </div>
                      </div>
                    </div>								
                  </div>
                  <!-- /.page_header -->
    
                  <div class="col-xs-12 page_body">
                    <div class="row">
                      <div class="container">
                        <div class="col-xs-12 no_content_div">
                          <div class="flex-box">
                            <div class="inline-div">													
                              <span class="img-wrap">
                                <img src="assets/images/cartoon-img-trophy.png" alt="images">
                              </span>
                              <h2>Coming Soon</h2>
                              <p>We will have your trophies soon</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- /.full-width-container -->
                    </div>
                  </div>
                <!-- /.page_body -->
  
              </div>							
            </div>
            <!-- /.content_wrap -->
          </div>
          <!-- ========= /.left_body ends ========= -->
          <app-sidebar></app-sidebar>
          <!-- ========= /.rightbar ends ========= -->			
        </div>
        <!-- /.module_wrap -->
      </div>		
    </section> 
    

<!-- <app-footer></app-footer> -->