<div class="col-xs-12 user-header deals-header">
  <div class="row">
    <div class="table_div">
      <div class=" col-xs-12 col-sm-4 tbl_cell">
        <div class="deals_slider">
          <div class="slidHeader">
            <h2>My Newest Deals</h2>
            <button class="comn-btn" type="button">Update All</button>
          </div>
          <!-- /.slidHeader -->

          <!-- Deals_owlslider Starts -->
          <div id="deals_carousel1" class="deals_owlslider owl-carousel">
              <owl-carousel
              [options]="{nav : true, slideBy : 1 ,margin :0 ,responsive: {    
            '300': { items: 1, margin: 0 },   
            '1200': { items: 1, margin: 0 },
            '1500': { items: 1, margin: 0 }
                   }  }"
              [items]="images"
              [carouselClasses]="['owl-theme', 'sliding']" >
              <div class="list-item item">
                  <div class="product_view1">
                    <div class="table_div">
                      <div class="tbl_cell">
                        <div class="imgdiv">
                      <p class="saleBadge">
                        <span><b class="off-lbl">58%</b> off</span>
                      </p>											
                      <span class="img-wrap">
                        <img src="assets/images/products/prdct-1.png" alt="image" class="mCS_img_loaded">
                      </span>
                    </div>
                    <!-- /.imgdiv -->
                      </div>
                      <div class="tbl_cell">
                        <div class="product_detail">
                          <p class="prdct-name">Operon BP 360A Aster Bp Monitor</p>
                          <p class="prdct_price">Offer price: <b>$599.00</b></p>
                          <div class="sellbtn-grup">
                        <button class="btn comn-btn blubtn" type="button">Update My List</button>
                        <button class="btn comn-btn greenbtn" type="button">Purchase</button>
                      </div>
                      <ul class="send-links">
                        <li><button class="btn" type="button">Suggest to Friend</button></li>
                        <li><button class="btn lightbtn" type="button">No Thanks</button></li>
                      </ul>
                        </div>
                      </div>
                    </div>
                    <!-- /.table_div -->
                  </div>
                  <!-- /.product_view1 -->
              </div>
              <!-- /.list-item -->
              <div class="list-item item">
                  <div class="product_view1">
                    <div class="table_div">
                      <div class="tbl_cell">
                        <div class="imgdiv">
                      <p class="saleBadge">
                        <span><b class="off-lbl">36%</b> off</span>
                      </p>											
                      <span class="img-wrap">
                        <img src="assets/images/products/prdct-2.png" alt="image" class="mCS_img_loaded">
                      </span>
                    </div>
                    <!-- /.imgdiv -->
                      </div>
                      <div class="tbl_cell">
                        <div class="product_detail">
                          <p class="prdct-name">Nova NHT 1086 Trimmer For Men</p>
                          <p class="prdct_price">Offer price: <b>$34.00</b></p>
                          <div class="sellbtn-grup">
                        <button class="btn comn-btn blubtn" type="button">Update My List</button>
                        <button class="btn comn-btn greenbtn" type="button">Purchase</button>
                      </div>
                      <ul class="send-links">
                        <li><button class="btn" type="button">Suggest to Friend</button></li>
                        <li><button class="btn lightbtn" type="button">No Thanks</button></li>
                      </ul>
                        </div>
                      </div>
                    </div>
                    <!-- /.table_div -->
                  </div>
                  <!-- /.product_view1 -->
              </div>

              
            </owl-carousel>
              <!-- /.list-item -->
          </div>												
          <!-- Deals_owlslider Ends -->
          </div>
          <!-- /.deals_slider -->
      </div>
      <div class=" col-xs-12 col-sm-4 tbl_cell">
        <div class="deals_slider">
          <div class="slidHeader">
            <h2>My Expiring Deals</h2>
            <button class="comn-btn" type="button">Update All</button>
          </div>
          <!-- /.slidHeader -->

          <!-- Deals_owlslider Starts -->
          <div id="deals_carousel2" class="deals_owlslider owl-carousel">
              <owl-carousel
              [options]="{nav : true, slideBy : 1 ,margin :0 ,responsive: {  
            '300': { items: 1, margin: 0 },        
            '1200': { items: 1, margin: 0 },
            '1500': { items: 1, margin: 0 }
                   }  }"
              [items]="images"
              [carouselClasses]="['owl-theme', 'sliding']" >
              <div class="list-item item">
                  <div class="product_view1 ">
                    <div class="table_div">
                      <div class="tbl_cell">
                        <div class="imgdiv">
                      <p class="saleBadge">
                        <span><b class="off-lbl">36%</b> off</span>
                      </p>											
                      <span class="img-wrap">
                        <img src="assets/images/products/prdct-2.png" alt="image" class="mCS_img_loaded">
                      </span>
                    </div>
                    <!-- /.imgdiv -->
                      </div>
                      <div class="tbl_cell">
                        <div class="product_detail">
                          <p class="prdct-name">Nova NHT 1086 Trimmer For Men</p>
                          <p class="prdct_price">Offer price: <b>$34.00</b></p>
                          <div class="sellbtn-grup">
                        <button class="btn comn-btn blubtn" type="button">Update My List</button>
                        <button class="btn comn-btn greenbtn" type="button">Purchase</button>
                      </div>
                      <ul class="send-links">
                        <li><button class="btn" type="button">Suggest to Friend</button></li>
                        <li><button class="btn lightbtn" type="button">No Thanks</button></li>
                      </ul>
                        </div>
                      </div>
                    </div>
                    <!-- /.table_div -->
                  </div>
                  <!-- /.product_view1 -->
              </div>
              <!-- /.list-item -->
              <div class="list-item item">
                  <div class="product_view1">
                    <div class="table_div">
                      <div class="tbl_cell">
                        <div class="imgdiv">
                      <p class="saleBadge">
                        <span><b class="off-lbl">58%</b> off</span>
                      </p>											
                      <span class="img-wrap">
                        <img src="assets/images/products/prdct-3.png" alt="image" class="mCS_img_loaded">
                      </span>
                    </div>
                    <!-- /.imgdiv -->
                      </div>
                      <div class="tbl_cell">
                        <div class="product_detail">
                          <p class="prdct-name">Nova NHT 1086 Trimmer For Men</p>
                          <p class="prdct_price">Offer price: <b>$34.00</b></p>
                          <div class="sellbtn-grup">
                        <button class="btn comn-btn blubtn" type="button">Update My List</button>
                        <button class="btn comn-btn greenbtn" type="button">Purchase</button>
                      </div>
                      <ul class="send-links">
                        <li><button class="btn" type="button">Suggest to Friend</button></li>
                        <li><button class="btn lightbtn" type="button">No Thanks</button></li>
                      </ul>
                        </div>
                      </div>
                    </div>
                    <!-- /.table_div -->
                  </div>
                  <!-- /.product_view1 -->
              </div>
            </owl-carousel>
              <!-- /.list-item -->
          </div>												
          <!-- Deals_owlslider Ends -->
          </div>
          <!-- /.deals_slider -->
      </div>
      <div class=" col-xs-12 col-sm-4 tbl_cell">
        <div class="deals_slider">
          <div class="slidHeader">
            <h2>Deals For My Friends</h2>
            <button class="comn-btn" type="button">Update All</button>
          </div>
          <!-- /.slidHeader -->

          <!-- Deals_owlslider Starts -->
          <div id="deals_carousel3" class="deals_owlslider owl-carousel">
              <owl-carousel
              [options]="{nav : true, slideBy : 1 ,margin :0 ,responsive: {  
            '300': { items: 1, margin: 0 },        
            '1200': { items: 1, margin: 0 },
            '1500': { items: 1, margin: 0 }
                   }  }"
              [items]="images"
              [carouselClasses]="['owl-theme', 'sliding']" >
              <div class="list-item item">
                  <div class="product_view1">
                    <div class="table_div">
                      <div class="tbl_cell">
                        <div class="imgdiv">
                      <p class="saleBadge">
                        <span><b class="off-lbl">25%</b> off</span>
                      </p>											
                      <span class="img-wrap">
                        <img src="assets/images/products/prdct-3.png" alt="image" class="mCS_img_loaded">
                      </span>
                    </div>
                    <!-- /.imgdiv -->
                      </div>
                      <div class="tbl_cell">
                        <div class="product_detail">
                          <p class="prdct-name">Puma El Ace 2 Mid PN II DP Men Sneakers</p>
                          <p class="prdct_price">Offer price: <b>$34.00</b></p>
                          <div class="sellbtn-grup">
                        <button class="btn comn-btn blubtn" type="button">Update My List</button>
                        <button class="btn comn-btn greenbtn" type="button">Purchase</button>
                      </div>
                      <ul class="send-links">
                        <li><button class="btn" type="button">Suggest to Friend</button></li>
                        <li><button class="btn lightbtn" type="button">No Thanks</button></li>
                      </ul>
                        </div>
                      </div>
                    </div>
                    <!-- /.table_div -->
                  </div>
                  <!-- /.product_view1 -->
              </div>
              <!-- /.list-item -->
              <div class="list-item item">
                  <div class="product_view1">
                    <div class="table_div">
                      <div class="tbl_cell">
                        <div class="imgdiv">
                      <p class="saleBadge">
                        <span><b class="off-lbl">58%</b> off</span>
                      </p>											
                      <span class="img-wrap">
                        <img src="assets/images/products/prdct-2.png" alt="image" class="mCS_img_loaded">
                      </span>
                    </div>
                    <!-- /.imgdiv -->
                      </div>
                      <div class="tbl_cell">
                        <div class="product_detail">
                          <p class="prdct-name">Nova NHT 1086 Trimmer For Men</p>
                          <p class="prdct_price">Offer price: <b>$34.00</b></p>
                          <div class="sellbtn-grup">
                        <button class="btn comn-btn blubtn" type="button">Update My List</button>
                        <button class="btn comn-btn greenbtn" type="button">Purchase</button>
                      </div>
                      <ul class="send-links">
                        <li><button class="btn" type="button">Suggest to Friend</button></li>
                        <li><button class="btn lightbtn" type="button">No Thanks</button></li>
                      </ul>
                        </div>
                      </div>
                    </div>
                    <!-- /.table_div -->
                  </div>
                  <!-- /.product_view1 -->
              </div>
            </owl-carousel>
              <!-- /.list-item -->
          </div>												
          <!-- Deals_owlslider Ends -->
          </div>
          <!-- /.deals_slider -->
      </div>
    </div>
  </div>								
</div>
<!-- /.user-header -->