<footer class="footer">
  <div class="container-fluid">
    <div class="row">
              <div class="container">
                  <span class="copyright">CopyRight © 2018 | All Rights Reserved</span> 
                  <ul class="ftr-links">
                      <li><a (click)="goToPage('/common/policy')" >Privacy Policy</a></li>
                      <li><a (click)="goToPage('/common/terms')">Terms &amp; Conditions</a></li>
                      <!-- <li><a href="javascript:void(0)">Help</a></li> -->
                  </ul>
              </div>
          </div>
      </div>
</footer>
<!-- /.footer -->