<!-- temp -->
  <!-- <app-header-w-nav></app-header-w-nav> -->
	<!-- /. choose plan sec -->
  <section class="container-fluid subscription_plan_sec admin_page">
  		<div class="row">
  			<div class="container">
				<div class="row">
				  	<ul id="progressSteps" class="threeSteps">
					    <li class="active"><span class="activeRound innerRound">1</span> <span class="half_active innerProcess"></span> Choose Plan</li>
					    <li class=""><span class="innerRound"></span> <span class="innerProcess"></span> Billing Info </li>
					    <li><span class="innerRound"></span> <span class="innerProcess"></span> Account Details </li>
					    <li><span class="innerRound"></span> <span class="innerProcess"></span> Amazon MWS Settings </li>
					</ul>
				</div>
			</div>		
		</div>	
	</section>	
  <!-- /. choose plan sec -->
  
	<section class="container-fluid home_page page_content user_module">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content_wrap">
              <div class="row">								
                <div class="pricing_table_sec">
                  <h2>Straightforward pricing. Unprecedented results.</h2>
                    <div class="pricing_table">
                      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 price_list_table">
                        <div class="price_list_table_inner_contnt top_spacing">
                          <div class="Price_table_hding">
                            <h3>Messaging & Display</h3>
                          </div>
                          <div class="Price_of_plan">
                            <h3>$ 300/<sub>Year</sub></h3>
                            <p>Get 1 month FREE with yearly subscription</p>
                          </div>
                          <div class="plan_information">
                            <ul>
                              <li><b>Unlimited</b> custom and highly targeted product ads with ZERO spam</li>
                              <li><b>Fixed pricing</b> for determinable Return on Investment (ROI)</li>
                              <li><b>Notifications</b> when your campaign price has been beaten</li>
                              <li><b>Data Overview Dashboard</b> Real-time access to 4 ‘Key Performance Indicators:’ Total Members, Total Cost, Campaigns Created and ROI</li>
                              <li><b>‘Display Banner’ Access and Priority Placement</b> Enhanced visibility and utilization via member console</li>
                              <li>Unlimited support</li>
                            </ul>
                          </div>
                          <div class="plan_footer blue_color1" routerLink="/backend/billinginfo">
                            <a   role="button" class="choose_plan_btn">Choose Plan</a>
                          </div>
                        </div>
                      </div>
                      <!-- /. plan end -->
  
                      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 price_list_table">
                        <div class="price_list_table_inner_contnt">
                          <div class="Price_table_hding">
                            <h3>Data & Reports</h3>
                          </div>
                          <div class="Price_of_plan">
                            <h3>$ 400/<sub>Year</sub></h3>
                            <p>Billed annually + 1 month free</p>
                            <div class="best_value_sec">
                              <span class="best_value">
                                <b>Best Value</b>
                              </span>	
                            </div>	
                          </div>
                          <div class="plan_information">
                            <ul>
                              <li>All Messaging & Display Plan Features, plus:</li>
                              <li><b>Professional Dashboard</b> Real-time data and statistics-tracking with 18 Key Performance Indicators</li>
                              <li><b>In-Depth Data Sets and Powerful Campaign Analysis</b> <br>
                                <ul class="nstdUL">
                                  <li>Breakdown and analysis of ‘Deals’ and ‘Banner Ads’</li>
                                  <li>Specific Member Action Analysis, including target market purchasing habits and campaign effectiveness</li>
                                  <li>Automated, monthly trending reports</li>
                                  <li>Automated year-end reports with quarterly breakdown</li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                          <div class="plan_footer blue_color2">
                            <a  routerLink="/backend/billinginfo" role="button" class="choose_plan_btn">Choose Plan</a>
                          </div>
                        </div>
                      </div>
                      <!-- /. plan end -->
  
                      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 price_list_table">
                        <div class="price_list_table_inner_contnt top_spacing">
                          <div class="Price_table_hding">
                            <h3>Custom Plan</h3>
                          </div>
                          <div class="Price_of_plan">
                            <p>Contact us for details</p>
                            <h4>customplan@simplelist.co</h4>
                          </div>
                          <div class="plan_information">
                            <ul>
                              <li><b>Custom Messaging, Display, Data & Reporting Plans</b> with pricing tailored to your specific needs</li>
                              <li><b>Options Include:</b> <br>
                                <ul class="nstdUL">
                                  <li>Data translation Services</li>
                                  <li>Campaign suggestions and recommendations</li>
                                  <li>Professionally-run campaigns</li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                          <div class="custom_plan_img">
                            <img src="assets/images/custom_plan.png" alt="img">
                          </div>
                          <div class="plan_footer blue_color1">
                            <a href="javascript:void(0)" role="button" class="choose_plan_btn">Contact us</a>
                          </div>
                        </div>
                      </div>
                      <!-- /. plan end -->
                    </div>
                    <!-- /.pricing_table -->	
  
                    <div class="free_trail_sec">
                      <span class="best_value">
                        <p>Limited-time, introductory <b>30-DAY FREE TRIAL</b> on all plans</p>
                      </span>	
                    </div>	
                    <!-- /.free_trail_sec -->
  
                    <div class="signup_today_sec">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 signup_today">
                        <div class="row">
                          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 signup_today_reason">
                            <span class="comn_round_icons creation_icon"></span>
                            <em><b>Simple</b> Campaign Creation</em>
                          </div>
                          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 signup_today_reason">
                            <span class="comn_round_icons analysis_icon"></span>
                            <em><b>Robust</b> data management and analysis</em>
                          </div>
                          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 signup_today_reason">
                            <span class="comn_round_icons reporting_icon"></span>
                            <em><b>Powerful</b> Reporting</em>
                          </div>
                          <h3>Sign Up Today!</h3>
                        </div>
                      </div>
                    </div>	
                    <!-- /.signup_today_sec -->
                    
                  </div>
                <!-- /.page_body -->
              </div>							
            </div>
            <!-- /.content_wrap -->
          </div>	
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </div>		
    </section> 
    <!-- /.page_content -->  
  <!-- <app-footer></app-footer> -->