
<!-- <app-header-w-nav></app-header-w-nav> -->
	<!-- /. choose plan sec -->
  	<section class="container-fluid subscription_plan_sec admin_page">
        <div class="row">
          <div class="container">
          <div class="row">
              <ul id="progressSteps" class="threeSteps">
                <li class=""><span class="activeRound innerRound">1</span> <span class="activeProg innerProcess"></span> Choose Plan</li>
                <li class=""><span class="activeRound innerRound">2</span> <span class="activeProg innerProcess"></span> Billing Info </li>
                <li class="active"><span class="activeRound innerRound">3</span> <span class="innerProcess"></span> Account Details </li>
                <li><span class="innerRound"></span> <span class="innerProcess"></span> Amazon MWS Settings </li>
            </ul>
          </div>
        </div>		
      </div>	
    </section>	
    <!-- /. choose plan sec -->  
  
    <section class="container-fluid home_page page_content user_module">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content_wrap">
              <div class="row">								
                <div class="pricing_table_sec">
                  <h2 style="font-weight: 600;">Account Details</h2>
                  <p>Please complete the following details</p>
                    <div class="plan_billing account_details">
                      <form class="sign_in_form">
                        <div class="sign_in_flds text-left">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 account_details_row">
                            <div class="row">
                              <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 account_details_flds">
                                  <div class="form_row">
                                    <p>Full Name</p>
                                    <div class="btn-group">
                                      <input class="input_fld" placeholder="First Name" type="text">
                                      <input class="input_fld" placeholder="Last Name" type="text">
                                    </div>
                                  </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 account_details_flds">
                                  <div class="form_row">
                                    <p>Email Address</p>
                                    <input class="input_fld" placeholder="Enter Email Address" type="text">
                                  </div>
                                </div>
                              </div>	
                            </div>
                          </div>	<!-- /. account_details_row -->		
  
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 account_details_row">
                            <div class="row">
                              <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 account_details_flds">
                                  <div class="form_row">
                                    <p>Mobile Number</p>
                                    <input class="input_fld" placeholder="Enter Mobile Number" type="text">
                                  </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 account_details_flds">
                                  <div class="form_row">
                                    <p>Address</p>
                                    <input class="input_fld" placeholder="Street Address" type="text">
                                  </div>
                                </div>	
                              </div>	
                            </div>
                          </div>	<!-- /. account_details_row -->		
  
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 account_details_row">
                            <div class="row">
                              <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 account_fld_group account_details_flds">
                                  <div class="form_row">
                                    <div class="row">
                                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 half_right">
                                        <p>Country</p>
                                        <div class="btn-group" dropdown>
                                            <button id="button-basic" dropdownToggle type="button" class="btn btn-default dropdown-toggle"
                                                    aria-controls="dropdown-basic">
                                                     India <span class="caret"></span>
                                            </button>
                                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                                role="menu" aria-labelledby="button-basic">
                                              <li role="menuitem"><a class="dropdown-item" href="#">India</a></li>
                                              <li role="menuitem"><a class="dropdown-item" href="#">USA</a></li>
                                              <li role="menuitem"><a class="dropdown-item" href="#">Pak</a></li>
                                              <li role="menuitem"><a class="dropdown-item" href="#">Aus</a></li>
                                            </ul>
                                          </div>
                                      </div>
                                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 half_left">
                                        <p>State</p>
                                        <div class="btn-group" dropdown>
                                            <button id="button-basic" dropdownToggle type="button" class="btn btn-default dropdown-toggle"
                                                    aria-controls="dropdown-basic">
                                                     California <span class="caret"></span>
                                            </button>
                                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                                role="menu" aria-labelledby="button-basic">
                                              <li role="menuitem"><a class="dropdown-item" href="#">California</a></li>
                                              <li role="menuitem"><a class="dropdown-item" href="#">Florida</a></li>
                                              <li role="menuitem"><a class="dropdown-item" href="#">Texas</a></li>
                                              <li role="menuitem"><a class="dropdown-item" href="#">Hawaii</a></li>
                                            </ul>
                                          </div>
                                      </div>
                                    </div>		
                                  </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 account_fld_group account_details_flds">
                                  <div class="form_row">
                                    <div class="row">
                                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 half_right">
                                        <p>City</p>
                                        <input type="text" class="input_fld" placeholder="Enter City" value="">
                                      </div>
                                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 half_left">
                                        <p>Zip Code</p>
                                        <input type="text" class="input_fld" placeholder="Enter Zip Code" value="">
                                      </div>
                                    </div>
                                  </div>
                                </div>	
                              </div>	
                            </div>
                          </div>	<!-- /. account_details_row -->	
  
  
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 account_details_row">
                            <div class="row">
                              <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 account_details_flds">
                                  <div class="form_row">
                                    <p>Password</p>
                                    <input class="input_fld" placeholder="Password must be at least 6 characters" type="text">
                                  </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 account_details_flds">
                                  <div class="form_row">
                                    <p>Confirm Password</p>
                                    <input class="input_fld" placeholder="Retype Password" type="text">
                                  </div>
                                </div>	
                              </div>	
                            </div>
                          </div>	<!-- /. account_details_row -->	
                        </div>
                        <div class="signInButtnSec text-center">
                          <a routerLink="/backend/amazonsettings" class="comn-btn blubtn account_btn">Confirm Details</a>
                        </div>	
                      </form>
                    </div>
                  </div>
              </div>							
            </div>
          </div>	
        </div>
      </div>		
    </section> 
  <!-- <app-footer></app-footer> -->