

/* Fonts*/
$base-font:'Open Sans', sans-serif;


/* color */

$base-color: #61C4DE;
$base-color-2: #0B3763;
$heading-color: #0b3763;
$sml-heading-color: #262626;
$heading-color-2: #202020;
$text-color: #888888;
$text-color-2: #7e7e7e;
$border-color: #dddddd;
$hover-bgcolor: #212121;

$green-color: #36cf4c;
$red-color: #ff7171;
$redish-color: #ff6262;
$lines-color: #dadada;



$white: #ffffff;
$black-color: #333333;
$btn-border: #999999;

$color-gray: #cfcfcf;
$light-gray: #e8e8e8;
$light-bg: #f7f7f7;
$light-bg-1: #f4f4f4;
$dark-gray-bg: #edeff1;
$light-bg: #f1f1f1;
$light-bg-color: #fbfbfb;



/* Width */


