<app-header></app-header>
	<section class="container-fluid consumerBanner">
      <div class="row">
        <div class="container">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 banner_top_char">
            <!-- <img class="wow slideInLeft" data-wow-duration="1s" src="assets/ images/consumer_cartoon1.png" alt="img"> -->
            <div class="about_banner_content partnerBanner">
              <h2 class="block_hding wow fadeInDown">The <b>SimpleList Partnership</b> was created with a specific mission:</h2>
              <h4 class="wow fadeInDown" data-wow-delay="0.5s">Make online marketing <span class="underlined">affordable</span>, <span class="underlined">manageable</span> and  <span class="underlined">precise</span>. </h4>
              <p class="wow fadeInDown" data-wow-delay="0.5s">The SimpleList Partnership offers your business: </p>
              
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 banner_character">
            <div class="row">
              <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 banner_character_left text-right wow slideInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="assets/images/partner_char1.png" alt="img">
              </div>
              <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 banner_character_right wow slideInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="assets/images/partner_char2.png" alt="img">
              </div>
            </div>
          </div>
        </div>
      </div>		
    </section> 
    <!-- /.page_content -->
  
    <section class="container-fluid SimpleList_job_Sec SimpleList_work_sec">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 SimpleList_job SimpleList_work text-center">
            <div class="simpleList_work_char">
              <img class="wow slideInUp" data-wow-duration="2.5s" src="assets/images/simple_list_work_char.png" alt="img">
            </div>
            <h2 class="block_hding wow fadeInDown">How does it work?</h2>
            <p class="wow fadeInDown" data-wow-delay="0.5s">The SimpleList platform redefines current online marketing functionality and effectiveness <br> by creating advertising targeted to specific consumer intention and purchase plans. <br> SimpleList provides:</p>
            <br>
            <br>
            <br>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 SimpleList_job_type wow fadeInLeftBig" data-wow-delay="0.8s">
              <div class="comn_round_icon">
                <div class="comn_blue_round">
                  <span class="comn_round_img round_icon5"></span>
                </div>
              </div>
              <h3>Direct marketing</h3>
            </div>
  
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 SimpleList_job_type wow fadeInLeftBig" data-wow-delay="0.6s">
              <div class="comn_round_icon">
                <div class="comn_blue_round">
                  <span class="comn_round_img round_icon6"></span>
                </div>
              </div>
              <h3>Consumer communication</h3>
            </div>
  
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 SimpleList_job_type wow fadeInLeftBig" data-wow-delay="0.4s">
              <div class="comn_round_icon">
                <div class="comn_blue_round">
                  <span class="comn_round_img round_icon7"></span>
                </div>
              </div>
              <h3>Real-time data and reports</h3>
            </div>
  
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 SimpleList_job_type wow fadeInLeftBig" data-wow-delay="0.2s">
              <div class="comn_round_icon">
                <div class="comn_blue_round">
                  <span class="comn_round_img round_icon8"></span>
                </div>
              </div>
              <h3>Targeted analysis</h3>
            </div>
            <div class="simple_list_work_info  wow fadeInUp" data-wow-delay="0.9s">
              <div class="simple_list_work_info_detail">
              <p>The SimpleList experience is specifically designed and seamlessly integrated for <b>straightforward</b>, <b>transparent</b> and <b>effective</b> marketing campaigns. </p>
  
              <p>Your business can finally advertise <b>strategically</b> and <b>cost-effectively</b>, and evolve from expensive, highly unpredictable pay-per-click campaigns and ineffective demographic projections of traditional online marketing methods. </p>
            </div>
            </div>
          </div>	
        </div>
      </div>		
    </section> 
    <!-- /.page_content -->
  
    <section class="container-fluid SimpleList_life_Sec">		
      <div class="container">
        <div class="row">				
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 SimpleList_life">
            <h2 class="block_hding text-center wow fadeInDown">Unique Pricing Model</h2>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 SimpleList_pricing_sec">
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 SimpleList_pricing wow fadeInLeft">
                <span class="comon_pricing_icon pricing1"></span>
                <p>Create <span>UNLIMITED</span> product ads, all for <span>one set price</span> </p>
              </div>	
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 SimpleList_pricing wow fadeInUp">
                <span class="comon_pricing_icon pricing2"></span>
                <p>Adjust and repeat campaigns based on <span>real-time data reports and analysis</span></p>
              </div>	
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 SimpleList_pricing wow fadeInRight">
                <span class="comon_pricing_icon pricing3"></span>
                <p> Perfectly budget for — and clearly define — <span>your Return on Investment</span></p>
              </div>
              <p class="more_detail  wow fadeInLeft" data-wow-delay="0.2s">Contact us for more details!</p>		
            </div>
          </div>	
        </div>
      </div>		
    </section> 
    <!-- /.page_content -->
  
    <section class="container-fluid perfect_gift">		
      <div class="container">
        <div class="row">				
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 perfect_gift_content text-center">
            <h2 class="wow fadeInDown">Interested in learning more about a  </h2>
            <h2 class="wow fadeInDown"><b>SimpleList Partnership? </b></h2>
            <p class="complete_info wow fadeInDown" data-wow-delay="0.5s">Complete the information below and we’ll be in touch!</p>
            <div class="contact_form_sec wow bounceInUp" data-wow-delay="0.5s">
              <form class="contact_form">
                <div class="form_row">
                  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form_row_input">
                    <input type="text" class="contact_input" placeholder="Business name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Business name'" >
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form_row_input">
                    <input type="text" class="contact_input" placeholder="Your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your name'" >
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form_row_input">
                    <input type="text" class="contact_input" placeholder="Product(s) you’re interested in selling" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Product(s) you’re interested in selling'" >
                  </div>								
                </div>
                <div class="form_row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form_row_input">
                    <textarea class="contact_input_area" rows="6" placeholder="How can SimpleList help grow your business?" onfocus="this.placeholder = ''" onblur="this.placeholder = 'How can SimpleList help grow your business?'" ></textarea>	
                  </div>
                </div>
                <div class="form_row">
                  <a href="javascript:void(0)" role="button" class="pink_btn submit_btn">Submit</a>
                </div>
              </form>
            </div>
            <div class="contact_char wow fadeInUp" data-wow-delay="0.5s">
              <img src="assets/images/Curious_char.png" alt="img">
            </div>
          </div>	
        </div>
      </div>		
    </section> 
    <!-- /.page_content -->
      <section class="container-fluid LearnMoreSec LearnMoreAboutPartnerSec">		
      <div class="container">
        <div class="row">				
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 LearnMore_content text-center">
            <h2 class="wow fadeInDown">Curious about something else? </h2>
            <h3 class="wow fadeInDown" data-wow-delay="0" style="margin-bottom: 0px;"> Hit us up, we’d love to hear from you! <span><a class="pink_txt" href="mailto:hello@simplelist.co">hello@simplelist.co</a></span></h3>
          </div>	
        </div>
      </div>		
    </section> 
    <!-- /.page_content -->
    <app-footer></app-footer>