<!-- <app-header></app-header> -->
<section class="container-fluid consumerBanner">
    <div class="row">
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 banner_top_char">
                <img class="wow slideInLeft" data-wow-duration="1s" src="assets/images/consumer_cartoon1.png" alt="img">
                <div class="about_banner_content">
                    <h2 class="block_hding wow fadeInDown">What is SimpleList?</h2>
                    <p class="wow fadeInDown" data-wow-delay="0.2s">SimpleList is the new, easy way to find gifts your friends and loved onestruly want, and a super simple way to share your gift ideas with others. </p>
                    <h4 class="wow fadeInDown" data-wow-delay="0.5s">With SimpleList, you'll never give — or get — a bad gift again!</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 banner_character">
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 text-right banner_character_left wow slideInLeft" data-wow-duration="0.7s" data-wow-delay="0.7s">
                        <img src="assets/images/consumer_cartoon_list.png" alt="img">
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 banner_character_right wow slideInRight" data-wow-duration="1s"  data-wow-delay="0.7s">
                        <img src="assets/images/consumer_cartoon2.png" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>		
</section> 
<!-- /.page_content -->

<section class="container-fluid super_powered_registry">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 banner_top_char wow slideInLeft">
        <img src="assets/images/super_power_registry.png" alt="img">
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 banner_character wow slideInRight">
        <div class="row">
            <div class="sp_content">
                <p>SimpleList is your one-stop,</p>
                <p>super-powered registry … </p>
                <p><b>for everything!</b></p>
            </div>				
        </div>
    </div>
    <div class="sup_char wow slideInUp">
        <img src="assets/images/super_power_char.png" alt="img">
    </div>
</section> 
<!-- /.page_content -->

<section class="container-fluid SimpleList_job_Sec Simplelist_fac">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 SimpleList_job text-center">
                <h2 class="block_hding wow fadeInDown">What can you do with SimpleList?</h2>
                <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 SimpleList_job_type wow fadeInLeftBig" data-wow-delay="0.8s">
                    <div class="comn_round_icon">
                        <div class="comn_blue_round">
                            <span class="comn_round_img round_icon1"></span>
                        </div>
                    </div>
                    <h3>Create WishLists for anything you desire</h3>
                    <p>Think: graduation presents; gadgets for a special trip; accessories to style your place. Start WishLists for others, too, and invite your friends to chip in.</p>
                </div>
            
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 SimpleList_job_type wow fadeInLeftBig" data-wow-delay="0.6s">
                    <div class="comn_round_icon">
                        <div class="comn_blue_round">
                            <span class="comn_round_img round_icon2"></span>
                        </div>
                    </div>
                    <h3>Invite friends and family to your WishLists. </h3>
                    <p>Share WishLists with a few friends, or share them with everyone; even keep private WishLists.</p>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 SimpleList_job_type wow fadeInLeftBig" data-wow-delay="0.4s">
                    <div class="comn_round_icon">
                        <div class="comn_blue_round">
                            <span class="comn_round_img round_icon3"></span>
                        </div>
                    </div>
                    <h3>Gain priceless<br> knowledge</h3>
                    <p>You’ll know exactly what your friends want, and your friends will know exactly what you want.</p>
                </div>
                </div>
                <div class="row">
                <div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2 SimpleList_job_type wow fadeInLeftBig" data-wow-delay="0.4s">
                    <div class="comn_round_icon">
                        <div class="comn_blue_round">
                            <span class="comn_round_img round_icon_d"></span>
                        </div>
                    </div>
                    <h3>Get amazing <br>
                        deals</h3>
                    <p>Receive instant coupons and discounts for items in all your lists and SAVE $$!</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 SimpleList_job_type wow fadeInLeftBig" data-wow-delay="0.2s">
                    <div class="comn_round_icon">
                        <div class="comn_blue_round">
                            <span class="comn_round_img round_icon4"></span>
                        </div>
                    </div>
                    <h3>Become the envy of <br> everyone</h3>
                    <p>And never give or get  a bad gift again!</p>
                </div>
            </div>
            </div>	
        </div>
    </div>		
</section> 
<!-- /.page_content -->

<section class="container-fluid SimpleList_life_Sec simplelist_works">		
    <div class="container">
        <div class="row">				
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 SimpleList_life">
                <div class="life_char_img  wow fadeInUp" data-wow-delay="0.8s">
                    <img src="assets/images/life_char.png" alt="img">
                </div>
                <h2 class="block_hding text-center  wow fadeInDown">How will SimpleList make life sweeter?</h2>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 SimpleList_life_list_sec  wow fadeInRight">
                    <div class="SimpleList_life_list">
                        <h3>What do you want for your birthday?</h3>
                        <p>Keep all of your wishes in organized, easy-to-share WishLists. </p>
                    </div>	
                    <div class="SimpleList_life_list">
                        <h3>What should we bring the neighbors for their house warming party?  </h3>
                        <p>FSave and share the perfect WishList to plan future events. Anyone invited to the WishList can chip in.</p>
                    </div>	
                    <div class="SimpleList_life_list">
                        <h3>Wait, what if someone already bought it? </h3>
                        <p>Find out instantly if someone buys a WishList item. And get notifications when items on your WishLists are available at a discount. </p>
                    </div>	
                    <div class="SimpleList_life_list">
                        <h3>Can I use this for personal shopping? </h3>
                        <p>Absolutely! Makes lists for everyday items and keep yourself organized. And don't forget about the discounts! </p>
                    </div>	
                    <div class="SimpleList_life_list">
                        <h3>Why should I join SimpleList?</h3>
                        <p>You’ll earn serious kickbacks and rewards for your epic WishList-creating and knowledge sharing abilities. The more you list, the better it gets!!</p>
                    </div>	
                </div>
            </div>	
        </div>
    </div>		
</section> 
<!-- /.page_content -->

<section class="container-fluid perfect_gift">		
    <div class="container">
        <div class="row">				
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 perfect_gift_content text-center">
                <h2 class="wow fadeInDown">Give the perfect gift. Get the perfect gift. </h2>
                <h2 class="wow fadeInDown" data-wow-delay="0.4s"><b>Simple as that.</b></h2>
                <ul class="perfect_gifts_list">
                    <li class="comon_blue_round round1 wow fadeInLeft" data-wow-delay="1s"></li>
                    <li class="comon_blue_round round2 wow fadeInLeft" data-wow-delay="0.8s"></li>
                    <li class="comon_blue_round round3 wow fadeInLeft" data-wow-delay="0.6s"></li>
                    <li class="comon_blue_round round4 wow fadeInLeft" data-wow-delay="0.4s"></li>
                    <li class="comon_blue_round round5 wow fadeInLeft" data-wow-delay="0.2s"></li>
                    <li class="comon_blue_round round6 wow fadeInLeft" data-wow-delay="0s"></li>
                </ul>
                <div class="tell_more_sec wow fadeInUp" data-wow-delay="2s">
                    <a href="javascript:void(0)" role="button" class="pink_btn tell_btn" (click)="openModal(template)">Sign me up!</a>
                </div>
            </div>	
        </div>
    </div>		
</section> 
<!-- /.page_content -->

<section class="container-fluid LearnMoreSec">		
    <div class="container">
        <div class="row">				
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 LearnMore_content text-center">
                <div class="LearnMorechar wow slideInRight">
                    <img src="assets/images/Curious_char.png" alt="img">
                </div>
                <h2 class="wow fadeInDown">Curious about something else? </h2>
                <h3 class="wow fadeInDown" data-wow-delay="0.2s"> Hit us up, we’d love to hear from you! <span><a class="pink_txt" href="mailto:hello@simplelist.co">hello@simplelist.co</a></span></h3>
                <p class="wow fadeInDown" data-wow-delay="0.4s">Interested in partnering with SimpleList? </p>
                <div class="tell_more_sec" class="wow fadeInUp" data-wow-delay="1s">
                    <a href="javascript:void(0)" role="button" class="pink_border_btn learnMore">Learn more!</a>
                </div>
            </div>	
        </div>
    </div>		
</section> 
<!-- /.page_content -->

    <!-- Add to wishList Modal -->
    <ng-template #template>
                <form id="wishlist_contnt-2" class="wishlist_form comn-form" >	        		
                    <div class="modal-header">
                        <h4>Lead generation</h4>
                            <button type="button" class="close_btn btn pull-right" aria-label="Close" (click)="modalRef.hide()"><i class="fa fa-times" aria-hidden="true"></i></button>
                      </div>
                      <div class="modal-body noPadd">
                        <div class="form-group noPadd">
                            <input name="title" placeholder="Name" required="" type="text">
                        </div>
                        <div class="form-group noPadd">
                            <input name="title" placeholder="Email" required="" type="text">
                        </div>
                        <div class="form-group noPadd">
                            <textarea name="description" placeholder="how did you hear about SimpleList?"></textarea>
                        </div>
                        <div class="form-group noPadd">
                                <div class="rememberMe">
                                        <div class="checkbx_sec">
                                            <div class="my-check"> <span class="checkBox">
                                              <input id="check4" name="radio" type="checkbox">
                                              <label for="check4"></label>
                                              </span>
                                            </div>
                                        </div>
                                        <div class="rememberMeInfo" for="check4">
                                            <p style="font-size: 13px;">By registering with SimpleList, you agree to receive updates and super cool offers. We're excited you're here and can't wait to show you around : ) </p>
                                        </div>
                                    </div>
                        </div>   
                    </div>
                   
                    <div class="form-footer">
                        <button type="button" class="comn-btn" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn comn-btn blubtn backlist_trig" (click)="gotoPlan('/backend')">Create</button>
                    </div> 
                </form>	
    </ng-template>
	
    <!-- <app-footer></app-footer> -->