	<!-- /.page_content -->
<!-- tem -->
  <!-- <app-header-user></app-header-user> -->
	<section class="container-fluid friends_page page_content user_module">
      <div class="row">
        <div class="module_wrap">				
          <div class="left_body">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content_wrap">
              <div class="row">
  
                  <div class="col-xs-12 user-header">
                      <div class="row">
                        <div class="table_div">
                          <div class=" col-xs-12 col-sm-6 tbl_cell">
                            <div class="tbl-content">
                              <span class="img-wrap"><img src="assets/images/icon-deals-list.png" alt="Image"/></span>
                              <h2>You have No Current Deals</h2>
                              <p>Add products in WishLists to see current deals</p>
                              <a role="button" class="btn comn-btn explr-prdct" routerLink="/front/products">Explore Products</a>
                            </div>
                          </div>
                          <div class=" col-xs-12 col-sm-6 tbl_cell">
                            <div class="tbl-content">
                              <span class="img-wrap"><img src="assets/images/icon-add-user-lg.png" alt="Image"/></span>
                              <h2>You have No Friends</h2>
                              <p>Invite Friends to see their WishLists</p>
                              <a role="button" class="btn comn-btn frnd-invit" routerLink="/front/friends">Invite My Friends</a>
                            </div>
                          </div>
                        </div>
                      </div>								
                    </div>
               <!-- /.user-header -->

							<div class="col-xs-12 page_header">
                  <div class="row">
                    <div class="container">
                      <div class="table_div">
                        <div class="tbl_cell left-sec">
                          <h2>Home</h2>
                          <p>Creatively crafted Dashboard for your needs</p>
                        </div>
                        <div class="tbl_cell right-sec">
                          <form class="pull-right prdct-srch">
                            <div class="table_div">
                              <div class="tbl_cell">
                                  <div class="btn-group" dropdown>
                                      <button id="button-basic" dropdownToggle type="button" class="btn btn-default dropdown-toggle"
                                              aria-controls="dropdown-basic">
                                              Filter <span class="caret"></span>
                                      </button>
                                      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                          role="menu" aria-labelledby="button-basic">
                                        <li role="menuitem"><a class="dropdown-item" href="#">Option 1</a></li>
                                        <li role="menuitem"><a class="dropdown-item" href="#">Option 2</a></li>
                                        <li role="menuitem"><a class="dropdown-item" href="#">Option 3</a></li>
                                        <li role="menuitem"><a class="dropdown-item" href="#">Option 4</a></li>
                                      </ul>
                                    </div>																
                              </div>
                              <div class="tbl_cell"><input class="form-control" placeholder="Search My Products" type="text"></div>
                              <div class="tbl_cell"><button class="btn btn-link icon-header " type="submit"><span class="fa fa-search"></span></button></div>
                            </div>
                                  </form>
                        </div>
                      </div>
                    </div>
                  </div>								
                </div>
                <!-- /.page_header -->
  
                <div class="col-xs-12 page_body">
                  <div class="row">
                    <div class="container">
                      <div class="col-xs-12 home_cntnt noPadd">
                        <div class="row">
                          <div class="col-xs-12 col-sm-6 col-lg-4 homelink">
                            <div class="white-box">
                              <span class="img-wrap"><img src="assets/images/homelink-01.png" alt="Image"></span>
                              <h1>My Products</h1>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Etiam.</p>
                              <button type="button" class="comn-btn">View</button>
                              <div class="overlay">
                                <div class="flex-box">
                                  <div class="cntnt-wrap">
                                    <span class="img-wrap"><img src="assets/images/homelink-01-lg.png" alt="Image"></span>
                                    <a routerLink="/front/products" class="comn-btn">View</a>
                                  </div>
                                </div>
                              </div>
                              <!-- /.overview -->
                            </div>
                          </div>
                          <!-- /.homelink -->
                          <div class="col-xs-12 col-sm-6 col-lg-4 homelink">
                            <div class="white-box">
                              <span class="img-wrap"><img src="assets/images/homelink-02.png" alt="Image"></span>
                              <h1>My Deals</h1>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Etiam.</p>
                              <button type="button" class="comn-btn">View</button>
                              <div class="overlay">
                                <div class="flex-box">
                                  <div class="cntnt-wrap">
                                    <span class="img-wrap"><img src="assets/images/homelink-02-lg.png" alt="Image"></span>
                                    <a routerLink="/front/mydeals" class="comn-btn">View</a>
                                  </div>
                                </div>
                              </div>
                              <!-- /.overview -->
                            </div>
                          </div>
                          <!-- /.homelink -->
                          <div class="col-xs-12 col-sm-6 col-lg-4 homelink">
                            <div class="white-box">
                              <span class="img-wrap"><img src="assets/images/homelink-03.png" alt="Image"></span>
                              <h1>My Lists</h1>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Etiam.</p>
                              <button type="button" class="comn-btn">View</button>
                              <div class="overlay">
                                <div class="flex-box">
                                  <div class="cntnt-wrap">
                                    <span class="img-wrap"><img src="assets/images/homelink-03-lg.png" alt="Image"></span>
                                    <a routerLink="/front/wishlist"  class="comn-btn">View</a>
                                  </div>
                                </div>
                              </div>
                              <!-- /.overview -->
                            </div>
                          </div>
                          <!-- /.homelink -->
                          <div class="col-xs-12 col-sm-6 col-lg-4 homelink">
                            <div class="white-box">
                              <span class="img-wrap"><img src="assets/images/homelink-04.png" alt="Image"></span>
                              <h1>My Friends</h1>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Etiam.</p>
                              <button type="button" class="comn-btn">View</button>
                              <div class="overlay">
                                <div class="flex-box">
                                  <div class="cntnt-wrap">
                                    <span class="img-wrap"><img src="assets/images/homelink-04-lg.png" alt="Image"></span>
                                    <a routerLink="/front/friends"  class="comn-btn">View</a>
                                  </div>
                                </div>
                              </div>
                              <!-- /.overview -->
                            </div>
                          </div>
                          <!-- /.homelink -->
                          <div class="col-xs-12 col-sm-6 col-lg-4 homelink">
                            <div class="white-box">
                              <span class="img-wrap"><img src="assets/images/homelink-05.png" alt="Image"></span>
                              <h1>My Trophies</h1>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Etiam.</p>
                              <button type="button" class="comn-btn">View</button>
                              <div class="overlay">
                                <div class="flex-box">
                                  <div class="cntnt-wrap">
                                    <span class="img-wrap"><img src="assets/images/homelink-05-lg.png" alt="Image"></span>
                                    <a routerLink="/front/mytrophies" class="comn-btn">View</a>
                                  </div>
                                </div>
                              </div>
                              <!-- /.overview -->
                            </div>
                          </div>
                          <!-- /.homelink -->
                          <div class="col-xs-12 col-sm-6 col-lg-4 homelink">
                            <div class="white-box">
                              <span class="img-wrap"><img src="assets/images/homelink-06.png" alt="Image"></span>
                              <h1>My Settings</h1>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Etiam.</p>
                              <button type="button" class="comn-btn">View</button>
                              <div class="overlay">
                                <div class="flex-box">
                                  <div class="cntnt-wrap">
                                    <span class="img-wrap"><img src="assets/images/homelink-06-lg.png" alt="Image"></span>
                                    <a routerLink="/front/setting" class="comn-btn">View</a>
                                  </div>
                                </div>
                              </div>
                              <!-- /.overview -->
                            </div>
                          </div>
                          <!-- /.homelink -->
                        </div>
                        <!-- /.row -->
                      </div>
                      <!-- /.home_cntnt -->
                    </div>
                  </div>
                </div>
                <!-- /.page_body -->
  
              </div>							
            </div>
            <!-- /.content_wrap -->
          </div>
          <!-- ========= /.left_body ends ========= -->
          <app-sidebar></app-sidebar>
          <!-- ========= /.rightbar ends ========= -->			
        </div>
        <!-- /.module_wrap -->
      </div>		
    </section> 
  

<!-- <app-footer></app-footer> -->