	<!-- /.page_content -->

  <app-header-user></app-header-user>
	<section class="container-fluid friends_page page_content user_module">
      <div class="row">
        <div class="module_wrap">				
          <div class="left_body">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content_wrap">
              <div class="row">
  
                <app-user-header></app-user-header>
            
               <!-- /.user-header -->

							<div class="col-xs-12 page_header">
								<div class="row">
									<div class="container">
										<div class="table_div">
											<div class="tbl_cell left-sec">
												<h2>Products</h2>
												<p>Creatively crafted Dashboard for your needs</p>
											</div>
											<div class="tbl_cell right-sec">
												<button type="button" class="btn comn-btn pull-right" onclick="goBack()">Back</button>
											</div>
										</div>
									</div>
								</div>								
							</div>
              <!-- /.page_header -->
<!--               
              <div id="deals_carousel2" class="deals_owlslider owl-carousel">
              <owl-carousel
              [options]="{nav : true, slideBy : 1 ,margin :0 ,responsive: {  
            '300': { items: 1, margin: 0 },        
            '1200': { items: 1, margin: 0 },
            '1500': { items: 1, margin: 0 }
                   }  }"
              [items]="images"
              [carouselClasses]="['owl-theme', 'sliding']" >
              <div class="list-item item">
                  <div class="product_view1 ">
                    <div class="table_div">
                      <div class="tbl_cell">
                        <div class="imgdiv">
                      <p class="saleBadge">
                        <span><b class="off-lbl">36%</b> off</span>
                      </p>											
                      <span class="img-wrap">
                        <img src="assets/images/products/prdct-2.png" alt="image" class="mCS_img_loaded">
                      </span>
                    </div>
                      </div>
                      <div class="tbl_cell">
                        <div class="product_detail">
                          <p class="prdct-name">Nova NHT 1086 Trimmer For Men</p>
                          <p class="prdct_price">Offer price: <b>$34.00</b></p>
                          <div class="sellbtn-grup">
                        <button class="btn comn-btn blubtn" type="button">Update My List</button>
                        <button class="btn comn-btn greenbtn" type="button">Purchase</button>
                      </div>
                      <ul class="send-links">
                        <li><button class="btn" type="button">Suggest to Friend</button></li>
                        <li><button class="btn lightbtn" type="button">No Thanks</button></li>
                      </ul>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="list-item item">
                  <div class="product_view1">
                    <div class="table_div">
                      <div class="tbl_cell">
                        <div class="imgdiv">
                      <p class="saleBadge">
                        <span><b class="off-lbl">58%</b> off</span>
                      </p>											
                      <span class="img-wrap">
                        <img src="assets/images/products/prdct-3.png" alt="image" class="mCS_img_loaded">
                      </span>
                    </div>
                     </div>
                      <div class="tbl_cell">
                        <div class="product_detail">
                          <p class="prdct-name">Nova NHT 1086 Trimmer For Men</p>
                          <p class="prdct_price">Offer price: <b>$34.00</b></p>
                          <div class="sellbtn-grup">
                        <button class="btn comn-btn blubtn" type="button">Update My List</button>
                        <button class="btn comn-btn greenbtn" type="button">Purchase</button>
                      </div>
                      <ul class="send-links">
                        <li><button class="btn" type="button">Suggest to Friend</button></li>
                        <li><button class="btn lightbtn" type="button">No Thanks</button></li>
                      </ul>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </owl-carousel>
          </div>		 -->

							<div class="col-xs-12 prdct_dtlpage_body page_body">
								<div class="row">
									<div class="container">
										<div class="col-xs-12 detail_content">
											<div class="row">
												<div class="col-xs-12 col-md-6 left_sec">
													<div id="prdctdtl_Carousel" class="carousel prdct-dtl-slid slide" data-ride="carousel">
													  <!-- Wrapper for slides -->
													  <div class="carousel-inner" role="listbox">
													    <div class="item active">	
													    	<a class="img_wrapp fancybox"  data-fancybox-group="gallery" rel="group"  href="assets/images/products/detail/prdct-01.png">				
													      		<img src="assets/images/products/detail/prdct-01.png" alt="Image">
													    	</a>
													    </div>
													    <div class="item">
													    		<a class="img_wrapp fancybox"  data-fancybox-group="gallery" rel="group"  href="assets/images/products/detail/prdct-02.png">	
													      		<img src="assets/images/products/detail/prdct-02.png" alt="Image">
													    	</a>
													    </div>
													    <div class="item">
													    	<a class="img_wrapp fancybox"  data-fancybox-group="gallery" rel="group"  href="assets/images/products/detail/prdct-03.png">				
													      		<img src="assets/images/products/detail/prdct-03.png" alt="Image">
													    	</a>
													    </div>
													    <div class="item">
													    	<a class="img_wrapp fancybox"  data-fancybox-group="gallery" rel="group"  href="assets/images/products/detail/prdct-04.png">				
													      		<img src="assets/images/products/detail/prdct-04.png" alt="Image">
													    	</a>
													    </div>
													    <div class="item">
													    	<a class="img_wrapp fancybox"  data-fancybox-group="gallery" rel="group"  href="assets/images/products/detail/prdct-05.png">				
													      		<img src="assets/images/products/detail/prdct-05.png" alt="Image">
													    	</a>
													    </div>
													  </div>

													  <!-- Controls -->
													  <ul class="flex-direction-nav">
													  	<li class="flex-nav-prev">
													  		<!-- <a class="left carousel-control" href="#prdctdtl_Carousel" role="button" data-slide="prev"> -->
													  		<a class="left flex-prev" href="#prdctdtl_Carousel" role="button" data-slide="prev">
															     <span aria-hidden="true">‹</span> <span class="sr-only">Previous</span>
														    </a>
														</li>
													  	<li class="flex-nav-next">
													  		<a class="right flex-next" href="#prdctdtl_Carousel" role="button" data-slide="next">
													  			<span aria-hidden="true">›</span> <span class="sr-only">Next</span>
														    </a>
														</li>
													  </ul>
													</div>

													<!-- Indicators -->
													<div class="col-xs-12 crsl_thumbnails">
														<div class="thumb_slider owl-carousel">
                                <owl-carousel
              [options]="{nav : false, slideBy : 1 ,margin :0 ,responsive: {
                '0': { items: 2, margin: 0 },  
                '360': { items: 3, margin: 0 },  
                '480': { items: 4, margin: 0 },    
                '580': { items: 5, margin: 0 },        
                '992': { items: 4, margin: 0 },
                '1500': { items: 4, margin: 0 }
                   }  }"
              [items]="images"
              [carouselClasses]="['owl-theme', 'sliding']" >
															<div class="item">
																<span data-target="#prdctdtl_Carousel" data-slide-to="0" class="tumb active"><img src="assets/images/products/detail/prdct-01-thumb.png" alt=""></span>
															</div>
															<div class="item">
																<span data-target="#prdctdtl_Carousel" data-slide-to="1" class="tumb"><img src="assets/images/products/detail/prdct-02-thumb.png" alt=""></span>
															</div>
															<div class="item">
																<span data-target="#prdctdtl_Carousel" data-slide-to="2" class="tumb"><img src="assets/images/products/detail/prdct-03-thumb.png" alt=""></span>
															</div>
															<div class="item">
																<span data-target="#prdctdtl_Carousel" data-slide-to="3" class="tumb"><img src="assets/images/products/detail/prdct-04-thumb.png" alt=""></span>
															</div>
															<div class="item">
																<span data-target="#prdctdtl_Carousel" data-slide-to="4" class="tumb"><img src="assets/images/products/detail/prdct-05-thumb.png" alt=""></span>
                              </div>
                              </owl-carousel>
														</div>													
												
													</div>												
												</div>
												<!-- ======== /.left_sec ======== -->

												<div class="col-xs-12 col-md-6 prdct_dtl right_sec">
													<h2 class="card-title">Canon Eos 5D Mark IV 30.4 MP Digital SLR 
														Camera (Black)  </h2>
													<h5 class="card-rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <small><a href="">(9) Rating</a></small></h5>
													<hr>
													
														<div class="card-price">
														<table>
															<tr>
																<td align="right">M.R.P.:</td>
																<td class="red">$ 250</td>
															</tr>
															<tr>
																	<td align="right">Price :</td>
																	<td class="blk">$ 204</td>
																</tr>
																<tr>
																		<td align="right">You Save: </td>
																		<td>$ 46 (20%)<br>Inclusive of all taxes</td>
																	</tr>
														</table>
													</div>
													<div class="card-text">
														<p><span class="gold"> Guaranteed</span> delivery to pincode <span class="blk">110001</span> - Delhi by <span class="blk">Tomorrow</span> 11am with <span class="blk fwm">Morning
																delivery</span> — Order in the next <span class="gold">7 hours and 33 minutes</span><span class="blue fwm"> Details</span></p>
														<p>Sold by <span class="blue fwm">Scrollnsee</span> (3.8 out of 5 | 200 ratings) and <span class="blue fwm">Fulfilled by Simplist.</span> Gift-wrap
																available.</p>
															<p><span class="blue">2 offers</span> from <span class="blue fwm">$ 225.00</span></p>
															<p>Style name: <span class="blk">EF 24-105mm IS II USM Lens Kit</span></p>
															<ul>
																	<li>30.4 MP full-frame CMOS sensor for versatile shooting</li>
																	<li>Up to 7.0 frames per second continuous shooting speed</li>
																	<li>61-point AF system with 41 cross-points for expanded vertical coverage</li>
																	<li>ISO range 100-32000 with 50-102400 expansion</li>
																	<li>4K video recording at 30p or 24p and in-camera still frame grab of 8.8MP images</li>
																	<li>Touch-screen LCD monitor.Built in Wi-Fi and NFC</li>
																	<li>Contact_us on: [ 18002083366 ] [ 18001803366 ]</li>
																</ul>
																<a href="#">See more product details</a>
													</div>													
													<hr>
													<div class="card-action">
														<a href="javascript:void(0)" class="btn comn-btn blubtn">Add to Wishlist</a>
														<a href="javascript:void(0)" class="btn comn-btn buybtn">Buy Now</a>
													</div>
												</div>
												<!-- ======== /.right_sec ======== -->
											</div>											
										</div>
										<!-- /.prdctdtl_pagecontnt -->
									</div>
									<!-- /.container -->
								</div>
							</div>
							<!-- /.page_body -->
  
              </div>							
            </div>
            <!-- /.content_wrap -->
          </div>
          <!-- ========= /.left_body ends ========= -->
          <app-sidebar></app-sidebar>
          <!-- ========= /.rightbar ends ========= -->			
        </div>
        <!-- /.module_wrap -->
      </div>		
    </section> 
    <!-- /.page_content -->

    	<!-- /.page_content -->

<app-footer></app-footer>