<div class="container-fluid navbar_wrap">
  <nav class="navbar navbar-default main-navbar" data-spy="affix" data-offset-top="65" data-smooth-scroll="true">
  <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button id="navtoggle" type="button" [ngClass]="!isCollapsed ? 'navbar-toggle':'navbar-toggle collapsed'" (click)="isCollase()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
       Friends  </button>
        <a class="navbar-brand" ><img src="assets/images/logo.png" alt="Simple List"></a>
        <span class="search-resp" (click)="searchList()" ><input class="search_inpt" id="search_header" type="text" name="search" placeholder="search"></span>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse"  id="collapseBasic" [collapse]="isCollapsed">
        <form class="navbar-form navbar-left search-form">
          <div class="form-group" (click)="searchList()">
            <input class="search_inpt" id="search_header" type="text" class="form-control" placeholder="Search" >
          </div>
          <button type="submit" class="btn btn-submit" disabled><span class="fa fa-search"></span><!-- Submit --></button>
        </form>
        <ul id="page_navbar" class="nav navbar-nav page-navbar">		      	
          <li [ngClass]="HeaderChoice[0] ? 'active':''">
            <a (click)="goToPage('/front/index',0)" placement="bottom" tooltip="Home"> <span class="link home">Home</span><span class="alert-icon"></span></a>
        </li>
        <li [ngClass]="HeaderChoice[1] ? 'active':''">
          <a (click)="goToPage('/front/products',1)" placement="bottom" tooltip="Products"><span class="link product">Products</span><span class="alert-icon"></span></a>
        </li>
        <li [ngClass]="HeaderChoice[2] ? 'active':''">
          <a (click)="goToPage('/front/mydeals',2)" placement="bottom" tooltip="Deals"><span class="link deals">My Deals</span><span class="alert-icon"></span></a>
          </li>
          <li [ngClass]="HeaderChoice[3] ? 'active':''">
            <a (click)="goToPage('/front/wishlist',3)" placement="bottom" tooltip="Lists"><span class="link list">My Lists</span><span class="alert-icon"></span></a>
          </li>
          <li [ngClass]="HeaderChoice[4] ? 'active':''">
            <a (click)="goToPage('/front/friends',4)" placement="bottom" tooltip="Friends"><span class="link friends">My Friends</span><span class="alert-icon"></span></a>
          </li>
          <li [ngClass]="HeaderChoice[5] ? 'active':''">
            <a (click)="goToPage('/front/mytrophies',5)" placement="bottom" tooltip="Trophies"><span class="link trophy">My Trophies</span><span class="alert-icon"></span></a>
          </li>
          <li [ngClass]="HeaderChoice[6] ? 'active':''">
            <a (click)="goToPage('/front/setting',6)" placement="bottom" tooltip="Settings"><span class="link stng">My Settings</span><span class="alert-icon"></span></a>
          </li>
        </ul>
        <ul class="user-info navbar-right">
          <li><p class="score">Your Score: <strong>100</strong></p></li>
          <li><span class="userpic" style="background-image: url('assets/images/user-dp01.jpg');"></span><span class="text">Chris Klein</span></li>
          <li><a href="javascript:void(0)" class="btn btn-link icon-header"><span class="fa fa-sign-out"></span></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
      <div class="res_nav pull-right ">
        <ul class="navbar-nav  justify-content-end">
              <li class="nav-item">
              <div class="btn-group" dropdown>
              <button id="button-basic" dropdownToggle type="button" class="btn-link btn userprofile dropdown-toggle" aria-controls="dropdown-basic">
                      <span class="userpic" style="background-image: url('assets/images/user-dp01.jpg');"></span><span class="caret"></span>
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                <li class="dropdown-item" role="menuitem"><a class="dropdown-item" (click)="goToPage('/front/setting')"><span class="text username">Chris Klein</span></a></li>
                <li class="dropdown-item" role="menuitem"><a class="dropdown-item" href="#"><p class="score">Your Score: <strong>100</strong></p></a></li>
                <li class="dropdown-item" role="menuitem"><a (click)="goToPage('/front/home')" class="btn btn-link icon-header"><span class="fa fa-sign-out"></span> Logout</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div><!-- /.container-fluid -->
</nav>  		
</div>

<!-- ===== search-block starts ===== -->

<div id="search_block" class="search-block" *ngIf="isSearch">
  <button class="close-btn btn btn-link" (click)="searchListClose()"><span class="fa fa-times"></span></button>
  <div class="container">
    <div class="row">
      <form class="form-inline pull-left search-block-form">
        <input type="text" class="form-control " placeholder="Search..." value="Adminux by Maxartkiller">
        <button class="btn btn-link icon-header " type="submit"><span class="fa fa-search"></span></button>
      </form>
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col ">
        <ul class="nav flex-column ">
          <li class="title-nav">Search result for "Adminux by Maxartkiller"</li>
          <li class=""><br>
          </li>
          <li class="nav-item">
            <div class="list-unstyled search-list">
              <a href="#" class="media">
                <div class="media-body">
                  <h6 class="result-head">Beautiful admin template ever</h6>
                  http://www.maxartkiller.in <br>
                  <p class="description">Bootstrape 4 based creatively hand crafter admin tempolate never seen before. #1 template in UI design and experience it provides.</p>
                </div>
                <!-- /.media-body -->
              </a>
              <a href="#" class="media">
                <div class="media-body">
                  <h6 class="result-head">Beautiful admin template ever</h6>
                  http://www.maxartkiller.in <br>
                  <p class="description">Bootstrape 4 based creatively hand crafter admin tempolate never seen before. #1 template in UI design and experience it provides.</p>
                </div>
                <!-- /.media-body -->
              </a>
              <a href="#" class="media">
                <div class="media-body">
                  <h6 class="result-head">Beautiful admin template ever</h6>
                  http://www.maxartkiller.in <br>
                  <p class="description">Bootstrape 4 based creatively hand crafter admin tempolate never seen before. #1 template in UI design and experience it provides.</p>
                </div>
                <!-- /.media-body -->
              </a>
            </div>
            <!-- /.search-list -->
          </li>
        </ul>
      </div>
      <br>
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col ">
        <br>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled"><a class="page-link" href="#" aria-label="First"> <span aria-hidden="true">«</span> <span class="sr-only">First</span></a></li>
              <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"> <span aria-hidden="true">‹</span> <span class="sr-only">Previous</span></a></li>
              <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Next"> <span aria-hidden="true">›</span> <span class="sr-only">Next</span> </a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Last"> <span aria-hidden="true">»</span> <span class="sr-only">Last</span> </a></li>
            </ul>
        </nav>
        <br>
        <hr>
      </div>
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.search-block -->


 
