
  <!-- <app-header-w-nav></app-header-w-nav> -->
		<!-- /. choose plan sec -->
  	<section class="container-fluid subscription_plan_sec admin_page">
        <div class="row">
          <div class="container">
          <div class="row">
              <ul id="progressSteps" class="threeSteps">
                <li class=""><span class="activeRound innerRound">1</span> <span class="activeProg innerProcess"></span> Choose Plan</li>
                <li class="active"><span class="activeRound innerRound">2</span> <span class="innerProcess"></span> Billing Info </li>
                <li><span class="innerRound"></span> <span class="innerProcess"></span> Account Details </li>
                <li><span class="innerRound"></span> <span class="innerProcess"></span> Amazon MWS Settings </li>
            </ul>
          </div>
        </div>		
      </div>	
    </section>	
    <!-- /. choose plan sec -->  
  
    <section class="container-fluid home_page page_content user_module">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content_wrap">
              <div class="row">								
                <div class="pricing_table_sec">
                  <h2 style="font-weight: 600;">Billing Info for Advanced Plan</h2>
                  <p>Please complete the fields below</p>
                    <div class="plan_billing">
                      <form class="sign_in_form">
                        <div class="sign_in_flds text-left">
                          <div class="form_row">
                            <p>Card Holder Name</p>
                            <input class="input_fld" placeholder="Name on Card" type="text">
                          </div>
                          <div class="form_row">
                            <p>Card Number</p>
                            <input class="input_fld" placeholder="Enter Card Number" type="text">
                          </div>
                          <div class="form_row">
                            <div class="row">
                              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 half_right">
                                <p>Expiration Date</p>
                                <input type="text"
                                placeholder="Datepicker"
                                class="form-control"
                                bsDatepicker>
                              </div>
                              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 half_left">
                                <p>CVV</p>
                                <input class="input_fld" placeholder="CVV" value="" type="text">
                              </div>
                            </div>		
                          </div>
                        </div>
                        <div class="signInButtnSec text-center">
                          <a routerLink="/backend/accountdetails" class="comn-btn blubtn account_btn">Confirm Payment</a>
                        </div>	
                      </form>
                    </div>
                  </div>
                <!-- /.page_body -->
              </div>							
            </div>
            <!-- /.content_wrap -->
          </div>	
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </div>		
    </section> 
    <!-- /.page_content -->
  <!-- <app-footer></app-footer> -->