
  <!-- <app-header-w-nav></app-header-w-nav> -->
	<!-- /. choose plan sec -->
  	<!-- /. choose plan sec -->
  	<section class="container-fluid subscription_plan_sec admin_page">
        <div class="row">
          <div class="container">
          <div class="row">
              <ul id="progressSteps" class="threeSteps">
                  <li class=""><span class="activeRound innerRound">1</span> <span class="activeProg innerProcess"></span> Choose Plan</li>
                  <li class=""><span class="activeRound innerRound">2</span> <span class="activeProg innerProcess"></span> Billing Info </li>
                  <li class=""><span class="activeRound innerRound">3</span> <span class="activeProg innerProcess"></span> Account Details </li>
                  <li class="active"><span class="activeRound innerRound">4</span> <span class="innerProcess"></span> Amazon MWS Settings </li>
            </ul>
          </div>
        </div>		
      </div>	
    </section>	
    <!-- /. choose plan sec -->  
  
    <section class="container-fluid home_page page_content user_module">
        <div class="row">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content_wrap">
                <div class="row">								
                  <div class="pricing_table_sec">
                    <h2 style="font-weight: 600;">Amazon MWS Settings</h2>
                    <p>Please complete the following MWS details</p>
                      <div class="plan_billing">
                        <form class="sign_in_form">
                          <div class="sign_in_flds text-left">
                            <div class="form_row">
                              <p>Seller ID</p>
                              <input class="input_fld" placeholder="Enter Seller ID" type="text">
                            </div>
                            <div class="form_row">
                              <p>Marketplace ID</p>
                              <input class="input_fld" placeholder="Enter Marketplace ID" type="text">
                            </div>
                            <div class="form_row">
                              <p>AWS Access Key ID</p>
                              <input class="input_fld" placeholder="Enter AWS Access Key ID" type="text">
                            </div>
                            <div class="form_row">
                              <p>Secret Key</p>
                              <input class="input_fld" placeholder="Enter Secret Key" type="text">
                            </div>
                          </div>
                          <div class="signInButtnSec text-center">
                            <a routerLink="/backend/home" class="comn-btn blubtn account_btn">Get Started</a>
                          </div>	
                        </form>
                      </div>
                    </div>
                  <!-- /.page_body -->
                </div>							
              </div>
              <!-- /.content_wrap -->
            </div>	
            <!-- /.row -->
          </div>
          <!-- /.container -->
        </div>		
      </section> 
    <!-- /.page_content -->
  <!-- <app-footer></app-footer> -->