	<!-- /.page_content -->

  <app-header-user></app-header-user>
	<section class="container-fluid friends_page page_content user_module">
      <div class="row">
        <div class="module_wrap">				
          <div class="left_body">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content_wrap">
              <div class="row">
  
                <app-user-header></app-user-header>
                <div class="col-xs-12 page_header">
                    <div class="row">
                      <div class="container">
                        <div class="table_div">
                          <div class="tbl_cell left-sec">
                            <h2>My Friends</h2>
                            <p>Creatively crafted Dashboard for your needs</p>
                          </div>
                          <div class="tbl_cell text-right right-sec">
                            <a role="button" routerLink="/front/friends" class="btn comn-btn pull-right">Back</a>
                          </div>
                        </div>
                      </div>
                    </div>								
                  </div>
                <!-- /.page_header -->
  
                <div class="col-xs-12 page_body">
                    <div class="row">
                      <div class="container">
    
                        <div class="col-xs-12 noPadd profile_infoBar">
                          <div class="profile_thumb">
                                      <div class="table_div">
                                  <div class="tbl_cell">
                                    <div class="userdp">											
                                  <span class="img-wrap" style="background-image: url('assets/images/user-dp-x120-01.jpg');"></span>
                                </div>
                                <!-- /.userdp -->
                                  </div>
                                  <div class="tbl_cell">
                                    <div class="user_detail">
                                      <p class="user-name"><span class="name">Astha Smith</span>,<span class="gndr">Female</span></p>
                                      <ul class="contct-info">
                                    <li class="mail"><a href="mailto:demonsalvatore@gmail.com?subject=feedback">demonsalvatore@gmail.com</a></li>
                                    <li class="phone"><a href="tel:+919876543210">+91-9876543210</a></li>
                                  </ul>
                                    </div>
                                    <!-- /.user_detail -->
                                  </div>
                                </div>
                                    </div>
                                    <div class="subheader">
                                      <h2>Shared Wish Lists <b>(7)</b></h2>
                                    </div>										
                        </div>
                        <!-- /.profile_infoBar -->
    
                        <div class="col-xs-12 inner_segregate">
                          <div class="row">
                            <div class="segregate_wrapper">
                              <!--Vertical Tab-->
                                  <div id="page_VerticalTabs" class="vertical_Tabs">

                                      <p-tabView  orientation="left">
                                          <p-tabPanel>
                                              <ng-template pTemplate="header">
                                                  <span class="list_name">Nya Back to School</span>
                                                  <span class="list_qunatity">10 Products</span>
                                                  <span class="list_date">Created on: <span>Jun 6th, 2017</span></span>
                                              </ng-template>
                                              <div class="right-Verticalcol">
                                                  <div class="col-xs-12 right_content_wrap">
                                                  <div class="resp-tabs-container ver_1">
                                                      <div class="tabPanel_body">
                                                          <div class="col-xs-12 wishlist_detail">
                                                            <div class="list_header table_div">
                                                              <div class="tbl_cell">
                                                                <div class="editable_block">
                                                                    <h2 class="wishlist_title">Kimani Back to School</h2>
                                                                  </div>
                                                                <span class="list-date">Created on: Jun 6th, 2017</span>
                                                              </div>
                                                              <div class="tbl_cell header-right">
                                                                <span class="product_count"><b>10</b> Products</span>
                                                              </div>
                                                            </div>
                                                            <!-- /.list_header -->
                                                            <div class="col-xs-12 list_overview">
                                                              <p>Quisque sollicitudin porta lorem, ut hendrerit sem accumsan sed. Vivamus sit amet elit at felis accumsan rutrum. Donec dictum metus nec facilisis aliquam. Nunc aliquam arcu et ultricies faucibus. Pellentesque aliquet augue in imperdiet scelerisque. Vestibulum sed sem in nunc posuere varius. Mauris eleifend hendrerit vehicula.</p>												                    		
                                                            </div>
                                                            <!-- /.list_overview -->
              
                                                            <div class="col-xs-12 products_sec">
                                                              <div class="sec-header">
                                                                <h2>Products</h2>
                                                              </div>
                                                              <!-- /.sec-header -->
                                                              <div class="col-xs-12 productview2-container noPadd">
                                                                <div class="row">
                                                                  <ul class="product-list">
                                                                    <li>
                                                                      <div class="product_view2">
                                                                        <div class="col-xs-12 text-center noPadd">
                                                                    <div class="imgdiv">
                                                                  <p class="saleBadge">
                                                                    <span><b class="off-lbl">58%</b> off</span>
                                                                  </p>											
                                                                  <span class="img-wrap">
                                                                    <img src="assets/images/products/prdct-lg-1.jpg" alt="image">
                                                                  </span>
                                                                </div>
                                                                <!-- /.imgdiv -->
                                                              </div>
                                                                  <div class="col-xs-12 product_detail">
                                                                    <p class="prdct-name">Product name/title</p>
                                                                    <p class="prdct_price">$ 204 <b class="orgnl-price">$ 250</b><!--  <del class="orgnl-price">$ 250</del> --></p>
                                                                    <p class="prdct_txtdtl">Some quick example text for product description.</p>
                                                                  </div>
                                                                  <div class="sellbtn-grup">
                                                                <button class="btn comn-btn removebtn" type="button">Remove</button>
                                                                <button class="btn comn-btn buybtn" type="button">Buy Now</button>
                                                              </div>
                                                                      </div>
                                                                      <!-- /.product_view2 -->
                                                                    </li>
                                                                    <!-- ================= -->
                                                                    <li>
                                                                      <div class="product_view2">
                                                                        <div class="col-xs-12 text-center noPadd">
                                                                    <div class="imgdiv">
                                                                  <!-- <p class="saleBadge">
                                                                    <span><b class="off-lbl">58%</b> off</span>
                                                                  </p> -->											
                                                                  <span class="img-wrap">
                                                                    <img src="assets/images/products/prdct-lg-2.jpg" alt="image">
                                                                  </span>
                                                                </div>
                                                                <!-- /.imgdiv -->
                                                              </div>
                                                                  <div class="col-xs-12 product_detail">
                                                                    <p class="prdct-name">Product name/title</p>
                                                                    <p class="prdct_price">$ 500 <b class="orgnl-price">$ 2000</b><!--  <del class="orgnl-price">$ 250</del> --></p>
                                                                    <p class="prdct_txtdtl">Some quick example text for product description.</p>
                                                                  </div>
                                                                  <div class="sellbtn-grup">
                                                                <button class="btn comn-btn removebtn" type="button">Remove</button>
                                                                <button class="btn comn-btn buybtn" type="button">Buy Now</button>
                                                              </div>
                                                                      </div>
                                                                      <!-- /.product_view2 -->
                                                                    </li>
                                                                    <!-- ================= -->
                                                                    <li>
                                                                      <div class="product_view2">
                                                                        <div class="col-xs-12 text-center noPadd">
                                                                    <div class="imgdiv">
                                                                  <!-- <p class="saleBadge">
                                                                    <span><b class="off-lbl">58%</b> off</span>
                                                                  </p> -->											
                                                                  <span class="img-wrap">
                                                                    <img src="assets/images/products/prdct-lg-3.jpg" alt="image">
                                                                  </span>
                                                                </div>
                                                                <!-- /.imgdiv -->
                                                              </div>
                                                                  <div class="col-xs-12 product_detail">
                                                                    <p class="prdct-name">Product name/title</p>
                                                                    <p class="prdct_price">$ 400 <b class="orgnl-price">$ 5000</b><!--  <del class="orgnl-price">$ 250</del> --></p>
                                                                    <p class="prdct_txtdtl">Some quick example text for product description.</p>
                                                                  </div>
                                                                  <div class="sellbtn-grup">
                                                                <button class="btn comn-btn removebtn" type="button">Remove</button>
                                                                <button class="btn comn-btn buybtn" type="button">Buy Now</button>
                                                              </div>
                                                                      </div>
                                                                      <!-- /.product_view2 -->
                                                                    </li>
                                                                    <!-- ================= -->
                                                                    <li>
                                                                      <div class="product_view2">
                                                                        <div class="col-xs-12 text-center noPadd">
                                                                    <div class="imgdiv">
                                                                  <!-- <p class="saleBadge">
                                                                    <span><b class="off-lbl">58%</b> off</span>
                                                                  </p> -->											
                                                                  <span class="img-wrap">
                                                                    <img src="assets/images/products/prdct-lg-4.jpg" alt="image">
                                                                  </span>
                                                                </div>
                                                                <!-- /.imgdiv -->
                                                              </div>
                                                                  <div class="col-xs-12 product_detail">
                                                                    <p class="prdct-name">Product name/title</p>
                                                                    <p class="prdct_price">$ 204 <b class="orgnl-price">$ 250</b><!--  <del class="orgnl-price">$ 250</del> --></p>
                                                                    <p class="prdct_txtdtl">Some quick example text for product description.</p>
                                                                  </div>
                                                                  <div class="sellbtn-grup">
                                                                <button class="btn comn-btn removebtn" type="button">Remove</button>
                                                                <button class="btn comn-btn buybtn" type="button">Buy Now</button>
                                                              </div>
                                                                      </div>
                                                                      <!-- /.product_view2 -->
                                                                    </li>
                                                                    <!-- ================= -->
                                                                    <li>
                                                                      <div class="product_view2">
                                                                        <div class="col-xs-12 text-center noPadd">
                                                                    <div class="imgdiv">
                                                                  <!-- <p class="saleBadge">
                                                                    <span><b class="off-lbl">58%</b> off</span>
                                                                  </p> -->											
                                                                  <span class="img-wrap">
                                                                    <img src="assets/images/products/prdct-lg-5.jpg" alt="image">
                                                                  </span>
                                                                </div>
                                                                <!-- /.imgdiv -->
                                                              </div>
                                                                  <div class="col-xs-12 product_detail">
                                                                    <p class="prdct-name">Product name/title</p>
                                                                    <p class="prdct_price">$ 500 <b class="orgnl-price">$ 2000</b><!--  <del class="orgnl-price">$ 250</del> --></p>
                                                                    <p class="prdct_txtdtl">Some quick example text for product description.</p>
                                                                  </div>
                                                                  <div class="sellbtn-grup">
                                                                <button class="btn comn-btn removebtn" type="button">Remove</button>
                                                                <button class="btn comn-btn buybtn" type="button">Buy Now</button>
                                                              </div>
                                                                      </div>
                                                                      <!-- /.product_view2 -->
                                                                    </li>
                                                                    <!-- ================= -->
                                                                    <li>
                                                                      <div class="product_view2">
                                                                        <div class="col-xs-12 text-center noPadd">
                                                                    <div class="imgdiv">
                                                                  <!-- <p class="saleBadge">
                                                                    <span><b class="off-lbl">58%</b> off</span>
                                                                  </p> -->											
                                                                  <span class="img-wrap">
                                                                    <img src="assets/images/products/prdct-lg-6.jpg" alt="image">
                                                                  </span>
                                                                </div>
                                                                <!-- /.imgdiv -->
                                                              </div>
                                                                  <div class="col-xs-12 product_detail">
                                                                    <p class="prdct-name">Product name/title</p>
                                                                    <p class="prdct_price">$ 400 <b class="orgnl-price">$ 5000</b><!--  <del class="orgnl-price">$ 250</del> --></p>
                                                                    <p class="prdct_txtdtl">Some quick example text for product description.</p>
                                                                  </div>
                                                                  <div class="sellbtn-grup">
                                                                <button class="btn comn-btn removebtn" type="button">Remove</button>
                                                                <button class="btn comn-btn buybtn" type="button">Buy Now</button>
                                                              </div>
                                                                      </div>
                                                                      <!-- /.product_view2 -->
                                                                    </li>
                                                                    <!-- ================= -->
                                                                    <li>
                                                                      <div class="product_view2">
                                                                        <div class="col-xs-12 text-center noPadd">
                                                                    <div class="imgdiv">
                                                                  <!-- <p class="saleBadge">
                                                                    <span><b class="off-lbl">58%</b> off</span>
                                                                  </p> -->											
                                                                  <span class="img-wrap">
                                                                    <img src="assets/images/products/prdct-lg-7.jpg" alt="image">
                                                                  </span>
                                                                </div>
                                                                <!-- /.imgdiv -->
                                                              </div>
                                                                  <div class="col-xs-12 product_detail">
                                                                    <p class="prdct-name">Product name/title</p>
                                                                    <p class="prdct_price">$ 400 <b class="orgnl-price">$ 5000</b><!--  <del class="orgnl-price">$ 250</del> --></p>
                                                                    <p class="prdct_txtdtl">Some quick example text for product description.</p>
                                                                  </div>
                                                                  <div class="sellbtn-grup">
                                                                <button class="btn comn-btn removebtn" type="button">Remove</button>
                                                                <button class="btn comn-btn buybtn" type="button">Buy Now</button>
                                                              </div>
                                                                      </div>
                                                                      <!-- /.product_view2 -->
                                                                    </li>
                                                                    <!-- ================= -->
                                                                    <li>
                                                                      <div class="product_view2">
                                                                        <div class="col-xs-12 text-center noPadd">
                                                                    <div class="imgdiv">
                                                                  <!-- <p class="saleBadge">
                                                                    <span><b class="off-lbl">58%</b> off</span>
                                                                  </p> -->											
                                                                  <span class="img-wrap">
                                                                    <img src="assets/images/products/prdct-lg-8.jpg" alt="image">
                                                                  </span>
                                                                </div>
                                                                <!-- /.imgdiv -->
                                                              </div>
                                                                  <div class="col-xs-12 product_detail">
                                                                    <p class="prdct-name">Product name/title</p>
                                                                    <p class="prdct_price">$ 400 <b class="orgnl-price">$ 5000</b><!--  <del class="orgnl-price">$ 250</del> --></p>
                                                                    <p class="prdct_txtdtl">Some quick example text for product description.</p>
                                                                  </div>
                                                                  <div class="sellbtn-grup">
                                                                <button class="btn comn-btn removebtn" type="button">Remove</button>
                                                                <button class="btn comn-btn buybtn" type="button">Buy Now</button>
                                                              </div>
                                                                      </div>
                                                                      <!-- /.product_view2 -->
                                                                    </li>
                                                                    <!-- ================= -->
                                                                    <li>
                                                                      <div class="product_view2">
                                                                        <div class="col-xs-12 text-center noPadd">
                                                                    <div class="imgdiv">
                                                                  <!-- <p class="saleBadge">
                                                                    <span><b class="off-lbl">58%</b> off</span>
                                                                  </p> -->											
                                                                  <span class="img-wrap">
                                                                    <img src="assets/images/products/prdct-lg-9.jpg" alt="image">
                                                                  </span>
                                                                </div>
                                                                <!-- /.imgdiv -->
                                                              </div>
                                                                  <div class="col-xs-12 product_detail">
                                                                    <p class="prdct-name">Product name/title</p>
                                                                    <p class="prdct_price">$ 400 <b class="orgnl-price">$ 5000</b><!--  <del class="orgnl-price">$ 250</del> --></p>
                                                                    <p class="prdct_txtdtl">Some quick example text for product description.</p>
                                                                  </div>
                                                                  <div class="sellbtn-grup">
                                                                <button class="btn comn-btn removebtn" type="button">Remove</button>
                                                                <button class="btn comn-btn buybtn" type="button">Buy Now</button>
                                                              </div>
                                                                      </div>
                                                                      <!-- /.product_view2 -->
                                                                    </li>
                                                                    <!-- ================= -->
                                                                    <li>
                                                                      <div class="product_view2">
                                                                        <div class="col-xs-12 text-center noPadd">
                                                                    <div class="imgdiv">
                                                                  <!-- <p class="saleBadge">
                                                                    <span><b class="off-lbl">58%</b> off</span>
                                                                  </p> -->											
                                                                  <span class="img-wrap">
                                                                    <img src="assets/images/products/prdct-lg-10.jpg" alt="image">
                                                                  </span>
                                                                </div>
                                                                <!-- /.imgdiv -->
                                                              </div>
                                                                  <div class="col-xs-12 product_detail">
                                                                    <p class="prdct-name">Product name/title</p>
                                                                    <p class="prdct_price">$ 400 <b class="orgnl-price">$ 5000</b><!--  <del class="orgnl-price">$ 250</del> --></p>
                                                                    <p class="prdct_txtdtl">Some quick example text for product description.</p>
                                                                  </div>
                                                                  <div class="sellbtn-grup">
                                                                <button class="btn comn-btn removebtn" type="button">Remove</button>
                                                                <button class="btn comn-btn buybtn" type="button">Buy Now</button>
                                                              </div>
                                                                      </div>
                                                                      <!-- /.product_view2 -->
                                                                    </li>
                                                                    <!-- ================= -->
                                                                    <li>
                                                                      <div class="product_view2">
                                                                        <div class="col-xs-12 text-center noPadd">
                                                                    <div class="imgdiv">
                                                                  <!-- <p class="saleBadge">
                                                                    <span><b class="off-lbl">58%</b> off</span>
                                                                  </p> -->											
                                                                  <span class="img-wrap">
                                                                    <img src="assets/images/products/prdct-lg-11.jpg" alt="image">
                                                                  </span>
                                                                </div>
                                                                <!-- /.imgdiv -->
                                                              </div>
                                                                  <div class="col-xs-12 product_detail">
                                                                    <p class="prdct-name">Product name/title</p>
                                                                    <p class="prdct_price">$ 400 <b class="orgnl-price">$ 5000</b><!--  <del class="orgnl-price">$ 250</del> --></p>
                                                                    <p class="prdct_txtdtl">Some quick example text for product description.</p>
                                                                  </div>
                                                                  <div class="sellbtn-grup">
                                                                <button class="btn comn-btn removebtn" type="button">Remove</button>
                                                                <button class="btn comn-btn buybtn" type="button">Buy Now</button>
                                                              </div>
                                                                      </div>
                                                                      <!-- /.product_view2 -->
                                                                    </li>
                                                                    <!-- ================= -->
                                                                  </ul>
                                                                  <!-- /.custom_scroll -->
                                                                </div>
                                                              </div>
                                                              <!-- /.productview2-container -->
              
                                                      <div class="col-xs-12">
                                                        <div class="row">
                                                            <hr>
                                                            <nav aria-label="Page_navigation example">
                                                              <ul class="pagination justify-content-center">
                                                                <li class="page-item disabled"> <a class="page-link" href="#" aria-label="Previous"> <span aria-hidden="true">«</span> <span class="sr-only">Previous</span> </a> </li>
                                                                <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                                                                <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                                                                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                                                                <li class="page-item"> <a class="page-link" href="javascript:void(0)" aria-label="Next"> <span aria-hidden="true">»</span> <span class="sr-only">Next</span> </a> </li>
                                                              </ul>
                                                            </nav>
                                                          </div>
                                                      </div>
              
                                                            </div>
                                                          </div>
                                                          <!-- /.wishlist_detail -->
                                                      </div>
                                                  </div>
                                                </div>
                                                <!-- /.right_content_wrap -->
                                              </div>
                                          </p-tabPanel>
                                          <p-tabPanel >
                                              <ng-template pTemplate="header">
                                                  <span class="list_name">July 2017 BBQ</span>
                                                  <span class="list_qunatity">10 Products</span>
                                                  <span class="list_date">Created on: <span>Jun 6th, 2017</span></span>
                                              </ng-template>
                                            <div class="right-Verticalcol">
                                              <div class="tabPanel_body">
                                                  <div class="col-xs-12 no_content_div">
                                          <div class="flex-box">
                                            <div class="inline-div">													
                                              <span class="img-wrap">
                                                <img src="assets/images/cartoon-img-wishlist.png" alt="assets/images">
                                              </span>
                                              <h2>No-Content Here <br/> <span style="display: inline-block; font-size: 22px; margin-top: 7px; vertical-align: top;">(Tab-2 Container)</span></h2>
                                              <p>Please create WishList to add products and see results</p>
                                            </div>
                                          </div>
                                        </div>
                                        <!-- /.no_content_div -->
                                              </div>
                                            </div>
                                          
                                          </p-tabPanel>
                                          <p-tabPanel  >
                                                  <ng-template pTemplate="header">
                                                      <span class="list_name">Kimani Back to School</span>
                                                      <span class="list_qunatity">10 Products</span>
                                                      <span class="list_date">Created on: <span>Jun 6th, 2017</span></span>
                                                  </ng-template>
                                              <div class="right-Verticalcol">
                                                <div class="tabPanel_body">
                                                    <div class="col-xs-12 no_content_div">
                                            <div class="flex-box">
                                              <div class="inline-div">													
                                                <span class="img-wrap">
                                                  <img src="assets/images/cartoon-img-wishlist.png" alt="assets/images">
                                                </span>
                                                <h2>No-Content Here <br/> <span style="display: inline-block; font-size: 22px; margin-top: 7px; vertical-align: top;">(Tab-3 Container)</span></h2>
                                                <p>Please create WishList to add products and see results</p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                                </div>
                                          </p-tabPanel>
                                      </p-tabView>

                                  </div>
                                  <!-- <div id="nested-tabInfo2">
                                      Selected tab: <span class="tabName"></span>
                                  </div> -->
                            </div>
                            <!-- /.segregate_wrapper -->
                          </div>											
                        </div>
                        <!-- /.inner_segregate -->
    
                      </div>
                      <!-- /.container -->
                    </div>
                  </div>
                <!-- /.page_body -->
  
              </div>							
            </div>
            <!-- /.content_wrap -->
          </div>
          <!-- ========= /.left_body ends ========= -->
          <app-sidebar></app-sidebar>
          <!-- ========= /.rightbar ends ========= -->			
        </div>
        <!-- /.module_wrap -->
      </div>		
    </section> 
    <!-- /.page_content -->

    	<!-- /.page_content -->

<app-footer></app-footer>