<!-- <app-header></app-header> -->
<section class="container-fluid landing_page">
  <div class="row">

    <div class="container">
      <div class="landing_content">
        <h3 class="darkblue_txt"> Give the perfect gift. Get the perfect gift. </h3>
        <h2 class="skyblue_txt">Simple as that. </h2>
        <span class="animated_img_div">
          <img src="assets/images/SimpleList.gif" alt="animated-img">
        </span>	
        <div class="tell_more_sec">
          <a  (click)="consumer('/front/aboutconsumer')" role="button" class="pink_btn tell_btn">Tell me more!</a>
        </div>
      </div>	
    </div>

  </div>			
</section> 
<!-- <app-footer></app-footer> -->