	<!-- /.page_content -->

  <!-- <app-backend-header></app-backend-header> -->
  <section class="container-fluid home_page page_content user_module">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content_wrap admin_page">
              <div class="row">
                  
                <div class="col-xs-12 page_header">
                  <div class="table_div">
                    <div class="tbl_cell left-sec">
                      <h2>Home</h2>											
                    </div>
                    <div class="tbl_cell right-sec">
                      <ul class="admin_right_btn pull-right">
                        <li>
                          <a (click)="openModal(template)" class="btn comn-btn amazon_btn"><i class="amazon_icon"></i>Amazon MWS Settings</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)" class="btn comn-btn refresh_btn"><i class="refresh_icon"></i>Refresh</a>
                        </li>
                      </ul>
                    </div>
                  </div>	
                </div>
                <!-- /.page_header -->
  
                <div class="col-xs-12 page_body">
                  <div class="row">
                    <div class="container">
                      <div class="row">
                        <div class="col-xs-12 total_overview">
                          <div class="row">
                            <div class="col-xs-12 col-sm-6 col-lg-3 total_overview_part">
                              <div class="white-box">	
                                <div class="total_cost">
                                  <div class="table_div total_cost_div">
                                    <div class="tbl_cell">
                                      <h3>$1723.43</h3>
                                      <p>Total Cost</p>
                                    </div>
                                    <div class="tbl_cell text-right">
                                      <div class="comn_progress_icon prog_icon1"></div>
                                    </div>						
                                  </div>	
                                  <div class="table_div monthly_progress_div">
                                    <div class="tbl_cell">
                                      <p>Monthly Progress</p>
                                    </div>
                                    <div class="tbl_cell">
                                      <img src="assets/images/progress_img.png" alt="progress">
                                    </div>
                                  </div>
                                </div>																
                                <div class="myProgress">
                                  <div class="myBar pro-10 wow fadeInLeft"></div>
                                </div>
                              </div>
                            </div>
                            <!-- Total Overview Part-->
  
                            <div class="col-xs-12 col-sm-6 col-lg-3 total_overview_part">
                              <div class="white-box">	
                                <div class="total_cost">
                                  <div class="table_div total_cost_div">
                                    <div class="tbl_cell">
                                      <h3>570</h3>
                                      <p>Total Purchases</p>
                                    </div>
                                    <div class="tbl_cell text-right">
                                      <div class="comn_progress_icon prog_icon2"></div>
                                    </div>						
                                  </div>	
                                  <div class="table_div monthly_progress_div">
                                    <div class="tbl_cell">
                                      <p>Monthly Progress</p>
                                    </div>
                                    <div class="tbl_cell">
                                      <img src="assets/images/progress_img.png" alt="progress">
                                    </div>
                                  </div>
                                </div>																
                                <div class="myProgress">
                                  <div class="myBar pro-40 wow fadeInLeft"></div>
                                </div>
                              </div>
                            </div>
                            <!-- Total Overview Part-->
  
                            <div class="col-xs-12 col-sm-6 col-lg-3 total_overview_part">
                              <div class="white-box">	
                                <div class="total_cost">
                                  <div class="table_div total_cost_div">
                                    <div class="tbl_cell">
                                      <h3>$28.00</h3>
                                      <p>Cost Per Purchase</p>
                                    </div>
                                    <div class="tbl_cell text-right">
                                      <div class="comn_progress_icon prog_icon3"></div>
                                    </div>						
                                  </div>	
                                  <div class="table_div monthly_progress_div">
                                    <div class="tbl_cell">
                                      <p>Monthly Progress</p>
                                    </div>
                                    <div class="tbl_cell">
                                      <img src="assets/images/progress_img.png" alt="progress">
                                    </div>
                                  </div>
                                </div>
                                <div class="myProgress">
                                  <div class="myBar pro-20 wow fadeInLeft"></div>
                                </div>
                              </div>
                            </div>
                            <!-- Total Overview Part-->
  
                            <div class="col-xs-12 col-sm-6 col-lg-3 total_overview_part">
                              <div class="white-box">	
                                <div class="total_cost">
                                  <div class="table_div total_cost_div">
                                    <div class="tbl_cell">
                                      <h3>34%</h3>
                                      <p>ROI</p>
                                    </div>
                                    <div class="tbl_cell text-right">
                                      <div class="comn_progress_icon prog_icon4"></div>
                                    </div>						
                                  </div>	
                                  <div class="table_div monthly_progress_div">
                                    <div class="tbl_cell">
                                      <p>Monthly Progress</p>
                                    </div>
                                    <div class="tbl_cell">
                                      <img src="assets/images/progress_img.png" alt="progress">
                                    </div>
                                  </div>
                                </div>
                                <div class="myProgress">
                                  <div class="myBar pro-30  wow fadeInLeft"></div>
                                </div>
                              </div>
                            </div>
                            <!-- Total Overview Part-->
                          </div>	
                        </div>
                        <!-- Total Overview -->
                            
                        <div class="col-xs-12 home_cntnt">
                          <div class="row">
                            <div class="col-xs-12 col-sm-6 col-lg-3 homelink">
                              <div class="white-box">
                                <span class="img-wrap"><img src="assets/images/homelink-07.png" alt="Image"></span>
                                <h1>Campaigns</h1>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                                <button type="button" class="comn-btn">View</button>
                                <div class="overlay">
                                  <div class="flex-box">
                                    <div class="cntnt-wrap">
                                      <span class="img-wrap"><img src="assets/images/homelink-07-lg.png" alt="Image"></span>
                                      <a routerLink="/backend/campaigns" class="comn-btn">View</a>
                                    </div>
                                  </div>
                                </div>
                                <!-- /.overview -->
                              </div>
                            </div>
                            <!-- /.homelink -->
                            <div class="col-xs-12 col-sm-6 col-lg-3 homelink">
                              <div class="white-box">
                                <span class="img-wrap"><img src="assets/images/homelink-08.png" alt="Image"></span>
                                <h1>Products</h1>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                                <button type="button" class="comn-btn">View</button>
                                <div class="overlay">
                                  <div class="flex-box">
                                    <div class="cntnt-wrap">
                                      <span class="img-wrap"><img src="assets/images/homelink-08-lg.png" alt="Image"></span>
                                      <a routerLink="/backend/products" class="comn-btn">View</a>
                                    </div>
                                  </div>
                                </div>
                                <!-- /.overview -->
                              </div>
                            </div>
                            <!-- /.homelink -->
                            <div class="col-xs-12 col-sm-6 col-lg-3 homelink">
                              <div class="white-box">
                                <span class="img-wrap"><img src="assets/images/homelink-09.png" alt="Image"></span>
                                <h1>Data</h1>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                                <button type="button" class="comn-btn">View</button>
                                <div class="overlay">
                                  <div class="flex-box">
                                    <div class="cntnt-wrap">
                                      <span class="img-wrap"><img src="assets/images/homelink-09-lg.png" alt="Image"></span>
                                      <a routerLink="/backend/data" class="comn-btn">View</a>
                                    </div>
                                  </div>
                                </div>
                                <!-- /.overview -->
                              </div>
                            </div>
                            <!-- /.homelink -->
                            <div class="col-xs-12 col-sm-6 col-lg-3 homelink">
                              <div class="white-box">
                                <span class="img-wrap"><img src="assets/images/homelink-10.png" alt="Image"></span>
                                <h1>Reports</h1>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                                <button type="button" class="comn-btn">View</button>
                                <div class="overlay">
                                  <div class="flex-box">
                                    <div class="cntnt-wrap">
                                      <span class="img-wrap"><img src="assets/images/homelink-10-lg.png" alt="Image"></span>
                                      <a routerLink="/backend/reports" class="comn-btn">View</a>
                                    </div>
                                  </div>
                                </div>
                                <!-- /.overview -->
                              </div>
                            </div>
                            <!-- /.homelink -->
                          </div>	
                        </div>
                        <!-- /.home_cntnt -->
                      </div>	
                      <!-- /.row -->
                    </div>
                  </div>
                </div>
                <!-- /.page_body -->
              </div>							
            </div>
            <!-- /.content_wrap -->
          </div>	
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </div>		
    </section> 
    <!-- /.page_content -->

    <ng-template #template>
        <form id="wishlist_contnt-2" class="wishlist_form comn-form" >	        		
              <div class="modal-body amazon_mws_setting_mdl">
                  <form class="sign_in_form">
                      <div class="sign_in_flds text-left">
                        <h3>Amazon MWS Setting</h3>
                        <div class="form_row">
                          <p>Seller ID</p>
                          <input class="input_fld" placeholder="Enter Seller ID" type="text">
                        </div>
                        <div class="form_row">
                          <p>Marketplace ID</p>
                          <input class="input_fld" placeholder="Enter Marketplace ID" type="text">
                        </div>
                        <div class="form_row">
                          <p>AWS Access Key ID</p>
                          <input class="input_fld" placeholder="Enter AWS Access Key ID" type="text">
                        </div>
                        <div class="form_row">
                          <p>Secret Key</p>
                          <input class="input_fld" placeholder="Enter Secret Key" type="text">
                        </div>
                      </div>
                    </form>
            <div class="modal-footer">
				        <button type="button" class="comn-btn whitebtn pull-left" data-dismiss="modal">Cancel</button>
				        <button type="button" class="comn-btn blubtn pull-right">Save MWS Setting</button>
              </div>
            </div>
        </form>	
</ng-template>
<!-- <app-footer></app-footer> -->
