


.page_content .page_body .full-width-container {
	background-color: #ffffff;
	border-top: 1px solid #e8e8e8;
}
.page_Products {
    margin-top: 15px;
    .product_view1 {
        padding: 15px 10px 15px 30px;
        .table_div {
            position: relative;
            &:after {
                background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
                content: "";
                display: block;
                height: 100%;
                position: absolute;
                right: -15px;
                top: 0;
                width: 1px;
            }
        }
    }
}   
.page_pagination {
    padding: 15px 0 55px;
    .pagination {
        margin: 0;
        padding-right: 30px;
        text-align: right;
    }
}